<div class="footer">
	<div class="container">
		<div class="row">
			<div class="position col-xs-6 col-sm-6">
                <f:if condition="{subpage} == 1">
					<f:then>
						<f:cObject typoscriptObjectPath="lib.menu.footer.keeper.subpage" />
					</f:then>
					<f:else>
						<f:cObject typoscriptObjectPath="lib.menu.footer.keeper" />
					</f:else>
				</f:if>

			</div>
			<div class="position-bottom col-xs-12 col-sm-6">
				<f:cObject typoscriptObjectPath="lib.menu.footer.service" />
			</div>
			<div class="copyright col-xs-12">
				<p class="company">fh-konzept GmbH - Köln</p><p class="text">&nbsp;|&nbsp;Venloer Straße 21 / 50672 Köln</p>
				<br />
				<p class="text">Fon: +49 (0) 221 58 91 43 00&nbsp;|&nbsp;Fax: +49 (0) 221 58 91 43 09 | Mail: <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#105;&#110;&#102;&#111;&#064;&#102;&#104;&#045;&#107;&#111;&#110;&#122;&#101;&#112;&#116;&#046;&#100;&#101;">info [at] fh-konzept.de</a></p>
                <br><br>
                <p class="company">fh-konzept GmbH - Leipzig</p><p class="text">&nbsp;|&nbsp;Bernhard-Göring-Straße 163 / 04277 Leipzig</p>
				<br />
				<p class="text">Fon: +49 (0) 341 550 218 06&nbsp;|&nbsp;Fax: +49 (0) 341 583 117 25 | Mail: <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#108;&#101;&#105;&#112;&#122;&#105;&#103;&#064;&#102;&#104;&#045;&#107;&#111;&#110;&#122;&#101;&#112;&#116;&#046;&#100;&#101;">leipzig [at] fh-konzept.de</a></p>
			</div>
		</div>
	</div>
</div>
