<div class="header">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			  <f:cObject typoscriptObjectPath="lib.menu.buy" />

			  <div id="language-list" class="language-list navbar-trigger-target">
				  <f:cObject typoscriptObjectPath="lib.menu.language"/>
			  </div>

			  <button type="button" class="navbar-toggle collapsed navbar-trigger" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
			  </button>

			  <f:if condition="{subpage} == 1">
				  <f:then>
					  <a class="navbar-brand logo" href="/"></a>
				  </f:then>
				  <f:else>
					  <a class="navbar-brand brand-anchor logo" href="/"></a>
				  </f:else>
			  </f:if>

			  <div class="mask"></div>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-trigger-target" id="main-menu">
			  <f:if condition="{subpage} == 1">
				  <f:then>
					  <f:cObject typoscriptObjectPath="lib.menu.main.subpage" />
				  </f:then>
				  <f:else>
					  <f:cObject typoscriptObjectPath="lib.menu.main" />
				  </f:else>
			  </f:if>
		  </div><!-- /.navbar-collapse -->


		  <button type="button" class="navbar-toggle menu-toggle" aria-expanded="false">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
		  </button>
	  </div><!-- /.container-fluid -->
	</nav>
</div>