<f:layout name="Default" />

<f:section name="main">

<f:flashMessages renderMode="div" />

<f:for each="{usecases}" as="usecase" iteration="iterator">

	<div class="row">

		<f:comment>Based on image position, css class "reverse" is added, to switch the position of image and text</f:comment>

		<f:if condition="{iterator.index} == 0">
			<f:then>
				<div class="tx-gigaset-casemanager-element">
			</f:then>
			<f:else>
				<f:switch expression="{usecase.imageposition}">
					<f:case value="0">
						<div class="tx-gigaset-casemanager-element">
					</f:case>
					<f:case value="1">
						<div class="tx-gigaset-casemanager-element reverse">
					</f:case>
				</f:switch>
			</f:else>
		</f:if>

			<div class="col-xs-12 col-sm-7">
				<div class="tx-gigaset-casemanager-image">
					<f:image src="{usecase.image.originalResource.originalFile.uid}" alt="" />
				</div>
			</div>

			<div class="col-xs-12 col-sm-5 fullheight">
				<div class="tx-gigaset-casemanager-description">
					<div class="tx-gigaset-casemanager-headline">

						<f:switch expression="{usecase.headlinelayout}">
							<f:case value="0">
								<p class="headline"><f:format.html parseFuncTSPath="lib.parseFunc">{usecase.headline}</f:format.html></p>
							</f:case>
							<f:case value="1">
								<h1><f:format.html parseFuncTSPath="lib.parseFunc">{usecase.headline}</f:format.html></h1>
							</f:case>
							<f:case value="2">
								<h2><f:format.html parseFuncTSPath="lib.parseFunc">{usecase.headline}</f:format.html></h2>
							</f:case>
							<f:case value="3">
								<h3><f:format.html parseFuncTSPath="lib.parseFunc">{usecase.headline}</f:format.html></h3>
							</f:case>
							<f:case value="4">
								<h4><f:format.html parseFuncTSPath="lib.parseFunc">{usecase.headline}</f:format.html></h4>
							</f:case>
							<f:case value="5">
								<h5><f:format.html parseFuncTSPath="lib.parseFunc">{usecase.headline}</f:format.html></h5>
							</f:case>
							<f:case value="6">
								<h6><f:format.html parseFuncTSPath="lib.parseFunc">{usecase.headline}</f:format.html></h6>
							</f:case>
						</f:switch>

						<p class="subtitle">{usecase.subtitle}</p>
					</div>

					<div class="tx-gigaset-casemanager-bodytext">
						<p><f:format.html parseFuncTSPath="lib.parseFunc">{usecase.bodytext}</f:format.html></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</f:for>

</f:section>