@mixin displayFlex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexDirection($direction) {
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin justifyContent($direction) {
    justify-content: $direction;
    -webkit-justify-content: $direction;
}

@mixin alignItems($direction) {
    align-items: $direction;
    -webkit-align-items: $direction;
}

@mixin border-radius ($tl, $tr, $br, $bl) {
    -webkit-border-radius: $tl $tr $br $bl;
    -moz-border-radius: $tl $tr $br $bl;
    border-radius: $tl $tr $br $bl;
}

@mixin appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}