/* WIDTHS */
$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-lg-max: ($screen-lg-min - 1) !default;

/* FONTS */
$myriadpro: 'MyriadPro-Regular', Arial, sans-serif;
$myriadproBold: 'MyriadWebPro-Bold', Arial, sans-serif;
$myriadproSemibold: 'MyriadPro-Semibold', Arial, sans-serif;
$myriadproLight: 'MyriadPro-Light', Arial, sans-serif;
$times: 'Times New Roman', 'Times', Serif;

/* COLORS */
$orange: #e03c31;
$blue: #00a3e0;
$black: #000000;
$white: #ffffff;
$lightgrey: #fbfbfb;
$grey: #bfbfbf;
$darkgrey: #3c3d3c;
