/* WIDTHS */
$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

/* FONTS */
$myriadpro: 'MyriadPro-Regular', Arial, sans-serif;
$myriadproBold: 'MyriadWebPro-Bold', Arial, sans-serif;

/* COLORS */
$black: #000000;
$white: #ffffff;
$orange: #e03c31;
$lightOrangeGrey: #a89f96;
$blue: #00a3e0;