<div class="headerslider-button prev-slide">
	<f:image alt="Next slide" src="typo3conf/ext/headerslider/Resources/Public/Icons/arrow-up-light.png" />
</div>

<div class="headerslider-button next-slide">
	<p class="hint">Scroll</p>
	<f:image alt="Next slide" src="typo3conf/ext/headerslider/Resources/Public/Icons/arrow-down-light.png" />
</div>