<div class="headerslider-roadmap">
	<div class="headerslider-roadmap-wrap">
		<f:for each="{slides}" as="slide" iteration="iterator">

			<f:if condition="{iterator.isLast}">
				<f:then>
					<div class="milestone" data-uid="{iterator.index}"></div>
				</f:then>
				<f:else>
					<div class="milestone" data-uid="{iterator.index}"></div>
					<div class="spacer" data-uid="{iterator.index}"></div>
				</f:else>
			</f:if>
			<tr>

		</f:for>
	</div>
</div>