/* CSS for the description container - includes headline, subtitle and bodytext */
.tx-gigaset-casemanager-description {
  text-align: center;
  padding: 0 10%;
  background-color: $white;
  width: 100%;

  /* unset padding and margin for description paragraphs */
  p {
	padding: 0;
	margin: 0;
  }

  /* CSS for the headline container - includes headline and subtitle */
  .tx-gigaset-casemanager-headline {
	margin-bottom: 30px;

	/* CSS for the headline */
	h1, h2, h3, h4, h5, h6, p.headline {
	  font-size: 30px;
	}

	/* CSS for the subtitle */
	.subtitle {
	  font-family: $myriadproBold;
	  font-size: 18px;
	}
  }

  /* CSS for the bodytext */
  .tx-gigaset-casemanager-bodytext {
	p {
	  font-size: 18px;
	}

	b {
	  font-size: 22px;
	  font-family: $myriadproBold;
	}
  }
}

/*  TABLET */
@media only screen and (min-width: $screen-sm-min) {
  /* align description vertically */
  .tx-gigaset-casemanager-description {
	@include displayFlex();
	flex-direction: column;
	justify-content: center;
  }
}

/*  DESKTOP (>= 1200px) */
@media only screen and (min-width: $screen-lg-min) {
  .tx-gigaset-casemanager-description {
	.tx-gigaset-casemanager-headline {
	  h1, h2, h3, h4, h5, h6, p.headline {
		font-size: 42px;
	  }

	  .subtitle {
		font-size: 28px;
	  }
	}

	.tx-gigaset-casemanager-bodytext {
	  p {
		font-size: 28px;
		line-height: normal;
	  }

	  b {
		font-size: 34px;
	  }
	}
  }
}