/* CSS for use case image */
.tx-gigaset-casemanager-element {
  .tx-gigaset-casemanager-image {
	margin-bottom: 50px;

	img {
	  /* max-width of images to 200% to display the first 50% of the image for mobile devices */
	  max-width: 200%;
	  height: auto;

	  /* center image within the div */
	  position: relative;
	  left: 50%;
	  transform: translateX(-50%);
	}
  }
}

/* ORIENTATION LANDSCAPE */
@media only screen and (orientation: landscape) {
  .tx-gigaset-casemanager-element {
	.tx-gigaset-casemanager-image {
	  img {
		/* restore original max-width of 100% */
		max-width: 100%;
	  }
	}
  }
}

/*  TABLET */
@media only screen and (min-width: $screen-sm-min) {
  .tx-gigaset-casemanager-element {
	.tx-gigaset-casemanager-image {
	  margin-bottom: 0;

	  img {
		/* restore original max-width of 100% */
		max-width: 100%;
	  }
	}
  }
}