.tx-gigaset-casemanager {
  position: relative;
  overflow: hidden;

  /* Remove padding for col-children */
  [class^='col-'] {
	padding: 0;
  }

  /* set all div children to border-box */
  div {
    @include box-sizing(border-box);
  }
}

/* CSS for use case elements */
.tx-gigaset-casemanager-element {
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}

.tx-gigaset-casemanager .row:last-of-type .tx-gigaset-casemanager-element {
  margin-bottom: 0;
}

/*  TABLET */
@media only screen and (min-width: $screen-sm-min) {
  /* set display flex to get a full height div */
  .fullheight {
    @include displayFlex();
  }

  .tx-gigaset-casemanager-element {
    margin-bottom: 60px;
    @include displayFlex();

    /* revert flex direction to switch image and text position */
    &.reverse {
      @include flexDirection(row-reverse);
    }
  }
}