// remove standard-styles
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  border-radius: 0;
  font-size: 1em;
  width: 100%;
}

// graceful degradation for ie8
input[type='checkbox'] {
  width:auto;
  float:left;
  margin-right: .75em;
  background-color: none;
  border:none;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked) {
  background-color: none;
  position: relative;
  visibility: hidden;
  margin:0;
  padding:0;
}

input[type='checkbox'] + label {
  cursor: pointer;
}

input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
  content:' ';
  display:inline-block;
  width: 25px;
  height:25px;
  position: relative;
  border: 1px solid $white;
  background-color: transparent;
  margin-right: 1em;
  float: left;
}

input[type='checkbox'].error + label:before {
  box-shadow: 0 0 10px #fff, 0 0 20px red;
}

input[type='checkbox']:hover + label:before {

}

input[type='checkbox']:checked + label:before {
  background-image: url(../Images/check-mark.png);
  background-size: 75%;
  background-position: center center;
  background-repeat: no-repeat;
}