.footer {
	padding-top: 50px;
    padding-bottom: 20px;
	background-color: #393229;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*Positionierung der Grids aus Bootstrap überschreiben*/


	/*footer Liste*/
	nav {
		padding-left: 20px;

		.category {
			font-family: $myriadproSemibold;
		}

		li {
			list-style: none;
			padding-top: 10px;
			font-family: $myriadproSemibold;
			color: $white;
			text-transform: uppercase;

			a {
				color: $white;
				font-weight: bold;
				padding: 0;
				margin: 0;
			}

			a:hover {
				text-decoration: none;
			}
		}
	}

	/*Newsletter Input und Label*/
	.last-news-input {
		margin-top: 30px;
		padding-right: 45px;
		padding-left: 35px;

		label {
			font-family: $myriadproBold;
			display: block;
			margin-bottom: 10px;
			font-size: 12px;
			color: #ffffff;
			font-weight: bold;
			text-transform: uppercase;
		}

		.newsletter-input {
		  	position: relative;

		  	input::placeholder {
			  	color: $orange;
			}

		  	input {
				color: $orange;
				display: block;
				border-top: 1px;
				border-right: 1px;
				border-bottom: 1px;
				border-left: 1px;
				border-style: solid;
				border-color: $white;
				background-color: transparent;
				width: 100%;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 15px;
			  	outline: 0;

			  	&.error {
				  box-shadow: 0 0 10px #fff, 0 0 20px red;
				}
			}

			.newsletter-input-validation {
			  	position: absolute;
			  	top: 10px;
			  	right: 15px;
			}
		}

		.form-actions {
		  	margin-top: 10px;

		  	.btn-default {
			  border-radius: 0;
			  background-color: $orange;
			  color: $white;
			  border: 0;
			  padding: 10px 0 10px 15px;
			  line-height: normal;
			  text-transform: uppercase;
			  outline: 0;
			}
		}

		/*Fontawesome Icons*/
		.icons {
		  	display: none;
			font-size: 20px;
			color: $white;
			padding-top: 20px;

			.fa-facebook-official {
				margin-right: 10px;
			}

			.fa-twitter {
				margin-right: 10px;
			}

			.fa-instagram {
				margin-right: 10px;
			}
		}
	}

  	// newsletter legal (placed outside the newsletter div due to content move for >= table
	.newsletter-legal {
	  margin-top: 20px;
	  color: $white;

	  label {
		font-family: $myriadpro;
		text-transform: none;
		font-weight: normal;
		font-size: 12px;
		margin-bottom: 0;
	  }

	  .legal-link {
		font-size: 12px;
		color: $white;
		text-decoration: underline;
		cursor: pointer;
	  }
	}

	/*Copyright*/
	.copyright {
		height: 300px;
		margin-top: 30px;
		padding-right: 45px;
		padding-left: 35px;

		.company {
			font-size: 16px;
			font-family: $myriadpro;
			color: #e87731;

		  	img {
			  width: 65px;
			  height: 20px;
			}
		}

		.text {
		  	font-family: $myriadpro;
			color: $white;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.footer {
		nav {
			li {
				font-size: 16px;
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	.footer {
		.position-bottom {
			padding-top: 0px;
		}

		nav {
			li {
				font-size: 24px;
			}
		}

		.last-news-input {
			label {
			  	font-size: 12px;
			}

			.newsletter-input {
			  	input::placeholder {
				  	font-size: 12px;
				}
			}

			.icons {
				text-align: right;
				padding-top: 100px;
			}
		}

		.newsletter-legal {
			padding: 25px 35px 0 35px;
			display: block;
			overflow: hidden;
			width: 100%;
		  	margin-bottom: 100px;
		}

		.position {
			margin-left: 0px;
		}

		.last-news-input {
			margin-top: 0px;
			padding-top: 10px;
		}

		.copyright {
			.company {
				display: inline-block;
				font-size: 20px;
			}

			.text {
				display: inline-block;
				font-size: 18px;
			}
		}

	}
}

// landscape mode
@media (min-width: $screen-sm-min) and (orientation: landscape) {
  .footer {

	.last-news-input {

	  .newsletter-input {
		width: 60%;
		margin-right: 20px;
		float: left;

		input::placeholder {
		  font-size: 16px;
		}
	  }

	  .form-actions {
		float: left;
		margin-top: 0;
		width: 35%;

		.btn-default {
		  text-align: center;
		  padding: 12px 0;
		}
	  }
	}
  }
}