/*Buy Now Button*/
.header {
	text-transform: uppercase;
	font-family: $myriadpro;
}

/*List Item Buy Now Button*/
.header {
	.button-desktop {
		display: none;
	}
}

/*Logo Style Mobile*/

.header {
	.logo {
		background-image: url(../Images/logo-pfeil.png);
		background-position: 20% 50%;
		background-repeat: no-repeat
	}
}

/*Brand*/
.header {
	.navbar-brand {
		min-height: 50px;
		padding: 12px 10px;
		cursor: pointer;
		width: 18%;
	}
}

/*Navigation*/
.header {
	.container-fluid {
	  	#main-menu {
		  width: 100vw;
		}

		.collapse {
			padding-top: 15px;

			.nav {
				li {
				  	background-color: $white;

					a {
						color: $black;
						margin: 10px 15px;
						padding: 0px 0px;
					}
				}
			}
		}
	}
}

/*Burger Menu*/
.header {

	.navbar-nav {
		li {
			a {
				padding-top: 0px;
				padding-bottom: 0px;
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
	}

	.navbar {
		background-color: $white;

	  .navbar-header {
		margin-bottom: -1px;
	  }

		.navbar-collapse {
			border-color: $grey;
		  	background-color: $white;
		}

		.navbar-toggle:focus {
			background-color: transparent;
		}

		.navbar-toggle:active {
			background-color: transparent;
		}

		.navbar-toggle:hover {
			background-color: transparent;
		}

		.navbar-toggle {
			border: 0;

			.icon-bar {
				background-color: $black;
			}
		}
	}
}


/* menu toggle btn for desktop */
.menu-toggle {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  @include transition(400ms);
}

.mask {
  position: absolute;
  top:1px;
  left:0;
  width:100%;
  background-color: $white;
  border-bottom: 1px solid #e7e7e7;
  height: 100%;
  z-index: -1;
}

@media (max-width: $screen-xs-max) {
	.header {
		.container-fluid {
			.collapse {
				padding-top: 0px;

				.nav {
					li {
						a {
							margin: 15px 15px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-xs-min) {

	.header {
		.dropdown {
			top: 28px;
			right: 70px;
		}

		.navbar {
			.container-fluid {
				height: 50px;
			  	@include transition(400ms);

			  	.navbar-toggle {
					margin-top: 9px;
					margin-bottom: 9px;
				}

				.collapse {
				  	@include transition(400ms);

					.nav {
						margin-right: 250px;
					}
				}
			}

		  	.button-mobile, .languageMobile, .navbar-toggle, .navbar-brand {
			  @include transition(400ms);
			}

			/* style for comprimized header while scrolling */
			&.shrink {
			  .container-fluid {
				height: 50px;
			  }

			  .languageMobile {
				visibility: hidden;
				opacity: 0;
			  }

			  .languageMobile {
				margin: 0;
				padding: 0;
			  }

			  .languageMobile {
				top: 15px;
			  }

			  .navbar-toggle {
				margin-top: 9px;
				margin-bottom: 9px;
			  }

			  .navbar-brand {
				min-height: 50px;
				padding: 6px 10px;
			  }
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
  .header {
	.navbar {
	  .menu-toggle {
		margin-right: 60px;
	  }

	  .container-fluid {
	  	.navbar-collapse {
			border-bottom: 1px;
			border-top: 1px;
			border-left: 0px;
			border-right: 0px;
			border-style: solid;
			border-color: #e7e7e7;
	  	}

		.button-mobile {
		  padding: 16px 16px 11px 16px;
		  top: 0;
		}

	  	.navbar-toggle {
			margin-top: 14px;
			margin-bottom: 14px;
		}

		.collapse {
			padding-top: 0px;

			.nav {
				margin-right: 60px;
				padding-top: 12px;

				li {
					a {
						margin: 15px 15px;
					}
				}
			}
		}
	  }

	.navbar-header {
		.logo {
			width: 66px;
			background-image: url(../Images/logo-pfeil.png);
			background-repeat: no-repeat;
			background-position: 10px 15px;
		}
	}

	  /* style for comprimized header while scrolling */
	  &.shrink {
		min-height: 60px;

		.navbar-header {
			.logo {
				background-image: url(../Images/logo-pfeil.png);
				background-position: 10px 15px;
			}
		}

		.navbar-toggle {
			margin-top: 14px;
			margin-bottom: 14px;
		}

		.button-mobile {
		  margin-top: 0;
		  right: 130px;
		  top: 6px;
		}
	  }
	}
  }

  /*Brand*/
  .header {
	.navbar-brand {
	  min-height: 75px;
	  width: 10%;

	}
  }
}

@media (min-width: $screen-md-min) {
	/*Brand*/
	.header {
		.container-fluid {
			font-size: 16px;
		}

		.navbar-brand {
			min-height: 75px;
			margin-top: 0;
		  	padding: 16px 10px;
		}

		.collapse {
			padding-top: 15px;

			.nav {
			  	padding-top: 12px;
			}
		}
		.shrink {
			.logo {
				background-position: 15px 10px;
			}
		}

		.navbar {
			.navbar-header {
				.logo {
					margin-left: 5px;
				}
			}
		}
	}

	.header {
		.navbar {
		background-color: $white;

			.navbar-header {
				.logo {
					width: 240px;
					background-image: url(../Images/logo-fh-konzept.png);
					background-repeat: no-repeat;
					background-position: 10px 15px;
				}
			}

			&.shrink {
				
				.navbar-header {
					.logo {
						background-image: url(../Images/logo-fh-konzept-klein.png);
						background-position: 10px 20px;
					}
				}

				.container-fluid {
					.collapse {
						padding-top: 0;
						visibility: hidden;
						opacity: 0;
					}
				}

				.menu-toggle {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	.header {
		.navbar-brand {
			padding: 14px 10px;
		}

		.navbar {
			.navbar-header {
				.logo {
					width: 220px;
					background-image: url(../Images/logo-fh-konzept.png);
					background-repeat: no-repeat;
					background-position: 0px 15px;
					margin-left: 60px;
				}
			}
		}

		.shrink {
			.logo {

				background-position: 15px 10px;
			}
		}
	}
}