.header {
  .languageMobile {
	position: absolute;
	top: 1px;
	right: 62px;
	margin: 12px 0 8px 0;

	.language-toggle {
	  color: $black;
	  font-family: $myriadpro;
	  font-size: 18px;
	  @include transition(400ms);
	  background-color: transparent;
	  border: 0;
	  outline: 0;
	  margin: 0;
	  padding: 0;

	  .language-burger {
		display: none;
	  }

	  p {
		margin: 0;
	  }
	}
  }

  .language-list {
	position: absolute;
	z-index: -5;
	width: 100%;
	top: -250%;
	left: 0;
	background-color: $white;
	visibility: hidden;
	@include transition(400ms);

	ul {
	  width: 100%;
	  margin-left: 0;
	  margin-right: 0;

	  li > a {
		padding: 10px 15px;
		color: $black;
		font-family: 'MyriadPro-Light';

		&:hover, &:focus, &:active {
		  background-color: $white;
		}

		&:hover {
		  text-decoration: underline;
		}
	  }
	}

	&.in {
	  visibility: visible;
	  top: 50px;
	}
	
	.active {
	  text-decoration: underline;

	  a, a:hover, a:focus, a:active {
		background-color: $white;
	  }
	}
  }
}

.arrow-down:after {
  top: 4px;
  right: 35px;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0 solid transparent;
  border-right: 0.2rem solid $black;
  border-bottom: 0.2rem solid $black;
  transform: rotate(45deg);
}

@media (min-width: $screen-xs-min) {
  .header {
	.languageMobile {
	  margin: 25px 0 22px 0;

	  .language-toggle {
		.language-burger {
		  display: none;
		}
	  }
	}

	.language-list.in {
	  top: 80px;
	}
  }
}

@media only screen and (min-width: $screen-md-min) {
  .header {
	.languageMobile {
	  .language-toggle {
		display: block;

		.language-burger {
		  display: block;
		}
	  }
	}

	.language-list {
	  .navbar-nav {
		@include displayFlex();
		flex-direction: row;
		justify-content: flex-end;
		padding-right: 55px;
		@include box-sizing(border-box);
	  }
	}
  }
}