/*Einbinden von Schriftarten*/
body {
  font-family: $myriadpro;
  overflow-x: hidden;
}

.container {
    //padding-top: 40px;

    h4:before {
        display: inline-block;
        margin-right: 8px;
        background-image: url(../Images/typo_icon_black.png);
        background-repeat: no-repeat;
        background-size: 50px 50px;
        width: 50px;
        height: 42px;
        content: "";
    }

    h5:before {
        display: inline-block;
        margin-right: 8px;
        background-image: url(../Images/typo_icon.png);
        background-repeat: no-repeat;
        background-size: 50px 50px;
        width: 50px;
        height: 42px;
        content: "";
    }

    h1,h2,h3,h4,h5,h6:first-child {
        margin-top: 30px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

b {
  font-weight: bold;
  font-family: $myriadproBold;
  font-size: 18px;
}

/* RTE Textkonfiguration */
.align-center {
	text-align: center;
}

/* RTE BUTTONS */
a.headerButton, a.videoLightbox, div.videoButton {
  display: block;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  @include border-radius(10px,10px,10px,10px);
  background-color: $blue;
  color: $white;
  max-width: 175px;
  @include box-sizing(border-box);

  &:hover, &:active, &:focus {
	text-decoration: none;
	color: $white;
  }
}

.section-content {

  &.no-anchor {
	padding-left: 25px;
	padding-right: 25px;
	max-width: 1200px;
	margin: auto;

	b {
	  font-size: 14px;
	}
  }
}

@media only screen and (max-width: $screen-xs-max) {
    .container {
        h4:before {
            display: inline-block;
            margin-right: 0px;
            background-image: url(../Images/typo_icon_black.png);
            background-repeat: no-repeat;
            background-size: 30px 30px;
            width: 35px;
            height: 25px;
            content: "";
        }
        
        h5:before {
            display: inline-block;
            margin-right: 0px;
            background-image: url(../Images/typo_icon.png);
            background-repeat: no-repeat;
            background-size: 30px 30px;
            width: 35px;
            height: 25px;
            content: "";
        }
    }
}

@media only screen and (min-width: $screen-lg-min) {
  h1, h2, h3, h4, h5, h6 {
	font-size: 42px;
  }

  p {
	font-size: 18px;
  }

  b {
	font-size: 22px;
  }

  .section-content {

	&.no-anchor {
	  h1, h2, h3, h4, h5, h6 {
		margin: 50px 0;
	  }

	  b {
		 font-size: 18px;
	   }
	}
  }

  a.headerButton, a.videoLightbox, div.videoButton {
	font-size: 28px;
	max-width: 250px;
	padding: 15px 0 10px 0;
  }
}

@media only screen and (max-width: $screen-md-max) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 42px;
    }
}

@media only screen and (max-width: $screen-xs-max) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 24px;
    }
}

.content div:last-of-type .section-content {
  margin-bottom: 0;
}