.news-slider {
	padding-top: 20px;

	img {
		width: 100%;
		height: auto;
	}

	.arrow-prev {
		left: 20px;
		z-index: 200;
	}

	.arrow-prev:before {
		content: "";
		width: 4rem;
		height: 4rem;
		position: absolute;
		border: 0 solid transparent;
		border-right: .3rem solid black;
		border-bottom: .3rem solid black;
		transform: rotate(135deg);
	}

	.arrow-next {
		right: 60px;
	}

	.arrow-next:before {
		content: "";
		width: 4rem;
		height: 4rem;
		position: absolute;
		border: 0 solid transparent;
		border-right: .3rem solid black;
		border-bottom: .3rem solid black;
		transform: rotate(-45deg);
	}

	.draggable {
		margin-bottom: 120px;
	}

	.ce-gallery {
		display: inline-block;
	}

	.slick-slide {
		outline: none;
	}

	.slick-dots {
		margin-left: -20px;

		li {
			width: 120px;

			button {
				width: 120px;
				padding: 0;
			    position: relative;

    			transform: rotate(180deg);
			}

			button:before {
    			opacity: .75;
			    color: #000000;
			    font-size: 16px;
			}

			button:after {
				content: '';
			    display: inline-block;
			    position: relative;
			    font-size: 14px;
			    color: #000000;
			    opacity: .75;
			    background-image: url(../Images/Layout/linie_black.png);
			    background-repeat: no-repeat;
			    background-size: 100% 1px;
			    background-position: 25px 6px;
			    width: 120px;
			    height: 15px;
			}

			&:first-child {
				button:after {
					display: none;
				}
				button:before {
					margin-top: 7px;
				}
			}
		}

		.slick-active {
			button:before {
    			opacity: .75;
			    color: #ffa141;
			    font-size: 16px;
			}
			button:after {
				color: #ef8034;
				background-image: url(../Images/Layout/linie_gelb.png);
			}
		}
	}

	.ce-textpic {
		text-align: center;

		.ce-bodytext {
			display: inline-block;
			width: 40%;
			text-align: left;
			padding-bottom: 120px;

			hr {
				float: left;
				width: 100%;
			}

			p {
				font-size: 14px;
				float: left;
			}
		}
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.news-slider {
		.arrow-prev:before {
			width: 3rem;
			height: 3rem;
		}

		.arrow-prev {
			left: 0;
			top: 40%;
		}

		.arrow-next:before {
			width: 3rem;
			height: 3rem;
		}

		.arrow-next {
			right: 30px;
			top: 40%;
		}

		.slick-dots {
			display: none !important;
		}

		.slick-slide {
			img {
				margin-left: auto;
				margin-right: auto;
			}
		}

		.ce-bodytext {
			width: 70% !important;
			padding-bottom: 0px !important;
		}

		.ce-media {
			img {
				width: 80%;
				height: auto;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.news-slider {
		.arrow-prev {
			left: -30px;
		}

		.arrow-next {
			right: 10px;
		}
	}
}

@media only screen and (max-width: 1050px) {
	.news-slider {
		.ce-bodytext {
			width: 30%;
		}
		.arrow-prev {
			left: 20px;
		}

		.arrow-next {
			right: 60px !important;
		}
	}
}

@-moz-document url-prefix() {
 	.news-slider {
 		.slick-dots {
 			li {
				&:first-child {
					button:before {
						margin-top: 0px;
					}
				}
 			}
 		}
 	}
}