.referenzen-slider {
	z-index: 100;
	margin-top: -50px;

	img {
		width: 100%;
		height: auto;
	}

	.arrow-prev {
		left: 30px;
		z-index: 200;
		top: 35%;
		width: 30px;
		height: 60px;
	}

	.arrow-prev:before {
		content: "";
		width: 4rem;
		height: 4rem;
		position: absolute;
		border: 0 solid transparent;
		border-right: .3rem solid black;
		border-bottom: .3rem solid black;
		transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		top: 10px;
		left: 8px;
	}

	.arrow-next {
		right: 60px;
		top: 35%;
		width: 30px;
		height: 60px;
	}

	.arrow-next:before {
		content: "";
		width: 4rem;
		height: 4rem;
		position: absolute;
		border: 0 solid transparent;
		border-right: .3rem solid black;
		border-bottom: .3rem solid black;
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		top: 10px;
		right: 8px;
	}

	.ce-media {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.ce-bodytext {
		width: 50vw;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.slick-slide {
		outline: none;
	}

	.slick-dots {
		margin-left: -60px;
		margin-top: 50px;
		margin-bottom: 100px;
		position: relative;

		li {
			width: 120px;

			button {
				width: 120px;
				padding: 0;
			    position: relative;
			    -ms-transform: rotate(180deg);
    			transform: rotate(180deg);
			}

			button:before {
    			opacity: .75;
			    color: #000000;
			    font-size: 16px;
			}

			button:after {
				content: '';
			    display: inline-block;
			    position: relative;
			    font-size: 14px;
			    color: #000000;
			    opacity: .75;
			    background-image: url(../Images/Layout/linie_black.png);
			    background-repeat: no-repeat;
			    background-size: 100% 1px;
			    background-position: 25px 6px;
			    width: 120px;
			    height: 15px;
			}

			&:first-child {
				button:after {
					display: none;
				}
				button:before {
					margin-top: 6px !important;
				}
			}
		}

		.slick-active {
			button:before {
    			opacity: .75;
			    color: #ffa141;
			    font-size: 16px;
			}
			button:after {
				color: #ef8034;
				background-image: url(../Images/Layout/linie_gelb.png);
			}
		}
	}

}

@media (min-width: $screen-lg-min) {
	.referenzen-slider {
		.slick-dots {
			display: block;
		}
	}
}

@media (min-width: $screen-md-min) {
	body {
		.referenzen-slider {
			.slick-dots {
				display: block !important;
			}
		}
	}
}


@media (min-width: $screen-sm-min) {
	#referenzen {
		padding-bottom: 40px;

		h1,h2,h3,h4,h5,h6:first-child {
			margin-bottom: 60px;
		}
	}

	.referenzen-slider {
		.slick-dots {
			display: none !important;
		}
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.container {
		padding-top: 0px;
	}
	
	.referenzen-slider {
		.arrow-prev:before {
			width: 3rem;
			height: 3rem;
		}

		.arrow-prev {
			left: 0;
		}

		.arrow-next:before {
			width: 3rem;
			height: 3rem;
		}

		.arrow-next {
			right: 30px;
		}

		.slick-dots {
			display: none !important;
		}
	}
}


/* IE 9 only START */



/* IE 9 only END */

@media only screen and (max-width: $screen-xs-max) {
	.tx-gridelements-referenzen {
		.referenzen-slider {
			margin-top: 0px;

			.arrow-next {
				top: 25%;
			}

			.arrow-prev {
				top: 25%;
			}

			.ce-bodytext {
				width: 75vw;
			}
		}
	}
}


@-moz-document url-prefix() {
 	.referenzen-slider {
 		.slick-dots {
 			li {
				&:first-child {
					button:before {
						margin-top: 0px;
					}
				}
 			}
 		}
 	}
}
