{namespace vh=CarstenWalther\System\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <div id="c{data.uid}">
        <div id="carousel-{data.uid}" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <f:for each="{data.tx_gridelements_view_children}" as="child" iteration="childIteration">
                    <li data-target="#carousel-{data.uid}" data-slide-to="{childIteration.index}" class="{f:if(condition: childIteration.isFirst, then: 'active', else: '')}"></li>
                </f:for>
            </ol>

            <div class="carousel-inner" role="listbox">
                <f:for each="{data.tx_gridelements_view_children}" as="child" iteration="childIteration">
                    <div class="item {f:if(condition: childIteration.isFirst, then: 'active', else: '')}">
                        <f:format.raw>{vh:arrayIndex(object: data, index: 'tx_gridelements_view_child_{child.uid}')}</f:format.raw>
                    </div>
                </f:for>
            </div>

            <a class="left carousel-control" href="#carousel-{data.uid}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-{data.uid}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</f:section>
