<f:layout name="Default"/>

<f:section name="main">

    <div id="c{data.uid}">
        <div class="row {data.flexform_visibility_element}">

            <div class="{data.flexform_visibility_col1} {data.flexform_width_column_lg_1} {data.flexform_width_column_md_1} {data.flexform_width_column_sm_1} {data.flexform_width_column_xs_1}">
                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>

        </div>
    </div>

</f:section>