{namespace vh=CarstenWalther\System\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <div id="c{data.uid}">
        <div class="col_2-2-wrap">


            <div class="col-xs-6 col_3-2 col_2-2-bigPic">
                <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
            </div>
            <div class="col-xs-6 col_3-2 col_2-2-bigPic">
                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>
        </div>

    </div>

</f:section>
