{namespace vh=CarstenWalther\System\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <div id="c{data.uid}">
        <div class="row {f:if(condition: data.flexform_equalHeight, then: 'equal-height', else: '')} {data.flexform_visibility_element}">

            <div class="{data.flexform_visibility_col1} {data.flexform_width_column_lg_1} {data.flexform_width_column_md_1} {data.flexform_width_column_sm_1} {data.flexform_width_column_xs_1}">
                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>

            <div class="{data.flexform_visibility_col2} {data.flexform_width_column_lg_2} {data.flexform_width_column_md_2} {data.flexform_width_column_sm_2} {data.flexform_width_column_xs_2}">
                <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
            </div>

            <div class="{data.flexform_visibility_col3} {data.flexform_width_column_lg_3} {data.flexform_width_column_md_3} {data.flexform_width_column_sm_3} {data.flexform_width_column_xs_3}">
                <f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw>
            </div>

            <div class="{data.flexform_visibility_col4} {data.flexform_width_column_lg_4} {data.flexform_width_column_md_4} {data.flexform_width_column_sm_4} {data.flexform_width_column_xs_4}">
                <f:format.raw>{data.tx_gridelements_view_column_4}</f:format.raw>
            </div>
        </div>
    </div>

</f:section>