{namespace vh=CarstenWalther\System\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <div id="c{data.uid}">
        <div class="col_3-2-wrap">
            <div class="col-sm-8 col-xs-12 col_3-2 col_3-2-bigPic">
                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>
            <div class="col-sm-4 col-xs-12 col_3-2 col_3-2-smalPic-wrap">
                <div class="col-xs-6 col-sm-12 col_3-2 col_3-2-smalPic">
                    <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
                </div>


                <div class="col-xs-6 col-sm-12 col_3-2 col_3-2-smalPic underSmalPic">
                    <f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw>
                </div>
            </div>
        </div>

    </div>

</f:section>
