<f:layout name="Default"/>

<f:section name="main">

    <f:if condition="{data.flexform_color}">
        <f:then>
            <div id="c{data.uid}" style="background-color: {data.flexform_color}; padding: 20px 0 10px 0; border-top: 1px solid rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(0, 0, 0, 0.2);" class="colored-background">
                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>
        </f:then>
        <f:else>
            <div id="c{data.uid}" style="background-color: transparent; padding: 20px 0 10px 0;">
                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>
        </f:else>
    </f:if>

</f:section>