<f:layout name="Default"/>

<f:section name="main">

    <f:if condition="{data.flexform_height}">
        <f:then>
            <div class="{data.flexform_class} content-position" style="height: {data.flexform_height}; display: table;">
                <div style="display: table-cell; vertical-align: middle;">
                    <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="{data.flexform_class} content-position">
                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>
        </f:else>
    </f:if>

</f:section>