<f:layout name="Default"/>

<f:section name="main">

    <f:if condition="{data.flexform_cssClass}">
        <f:then>
            <div id="c{data.uid}" class="{data.flexform_cssClass}">
                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>
        </f:then>
        <f:else>
            <div id="c{data.uid}">
                <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
            </div>
        </f:else>
    </f:if>

</f:section>