{namespace gs=CarstenWalther\System\ViewHelpers}

<div class="tx_gridelements_features fish-background" id="features-fish">
	<div class="container">
		<div class="row">
			<div class="gridelements-slickslider-features-fish gridelements-slickslider-features">
                <div class="more-fish">
	                <div class="headline">
	                    {data.tx_gridelements_view_column_1 -> f:format.raw()}
	                </div>
	                <div class="col-xs-6 col-md-3">
						<div class="slick-item fish">
							{data.tx_gridelements_view_column_2 -> f:format.raw()}
						</div>
	                </div>
					<div class="col-xs-6 col-md-3">
						<div class="slick-item fish">
							{data.tx_gridelements_view_column_3 -> f:format.raw()}
						</div>
	                </div>
					<div class="col-xs-6 col-md-3">
						<div class="slick-item fish">
							{data.tx_gridelements_view_column_4 -> f:format.raw()}
						</div>
	                </div>
					<div class="col-xs-6 col-md-3">
						<div class="slick-item fish">
							{data.tx_gridelements_view_column_5 -> f:format.raw()}
						</div>
	                </div>
                </div>
			</div>
		</div>
	</div>
</div>