{namespace gs=CarstenWalther\System\ViewHelpers}

<div class="tx_gridelements_features" id="features00 features0">
	<div class="container">
		<div class="row">
			<div class="gridelements-slickslider-features">
	            {data.tx_gridelements_view_column_1 -> f:format.raw()}
			</div>
		</div>
	</div>
</div>