<div class="header-item">
	<div class="text">
		{data.tx_gridelements_view_column_1 -> f:format.raw()}
	</div>
	<div class="image">
		{data.tx_gridelements_view_column_2 -> f:format.raw()}
	</div>
</div>