{namespace sys=CarstenWalther\System\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <div data-spy="affix" data-offset-top="0" data-offset-bottom="0">
        <div id="c{data.uid}">
            <nav>
                <div class="container" id="navbar">
                    <ul class="nav" role="tablist">
                        <f:for each="{sys:explodeGetContent(string:data.flexform_anchors)}" as="item">
                            <li role="presentation">

                                <f:link.page section="c{item.uid}" additionalAttributes="{data-target: '#c{item.uid}'}">
                                    <f:if condition="{item.subheader}">
                                        <f:then>{item.subheader}</f:then>
                                        <f:else>{item.header}</f:else>
                                    </f:if>
                                </f:link.page>

                            </li>
                        </f:for>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</f:section>