<f:layout name="Default"/>

<f:section name="main">
<div class="container">
	<div class="row">
		<div class="news-slider">
			<div class="slick-item">
				<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
			</div>
			<div class="slick-item">
				<f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
			</div>
			<div class="slick-item">
				<f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw>
			</div>
			<div class="slick-item">
				<f:format.raw>{data.tx_gridelements_view_column_4}</f:format.raw>
			</div>
		</div>	
	</div>
</div>



</f:section>