<f:layout name="Default"/>

<f:section name="main">

<div class="news-gallery">
	<div class="container-fluid">
		<div class="row">
			<div class="abstaende-rahmen col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="oben-links">
					{data.tx_gridelements_view_column_0 -> f:format.raw()}
				</div>			
			</div>
			<div class="abstaende-rahmen col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="oben-rechts-oben">
					{data.tx_gridelements_view_column_1 -> f:format.raw()}
				</div>
			</div>
		</div>
	</div>
</div>

</f:section>