<f:layout name="Default"/>

<f:section name="main">
<div class="container">
	<div class="row">
		<div class="news_one">
			<div class="news-item">
				<f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
			</div>
		</div>	
	</div>
</div>



</f:section>