{namespace fh = CarstenWalther\System\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
     <div id="{fh:pageAlias(pid: '{data.tx_gridelements_view_children.0.pid}')}" class="section-content">
         <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
     </div>
</f:section>