<div class="slick-item col-xs-12 col-md-11">
	<div class="image">
		{data.tx_gridelements_view_column_2 -> f:format.raw()}
	</div>
	<div class="text">
		{data.tx_gridelements_view_column_1 -> f:format.raw()}
	</div>
</div>