{namespace gs=CarstenWalther\System\ViewHelpers}

<div class="tx-gridelements-referenzen">
	<div class="container">
		<div class="row">
			<div class="referenzen-slider">
                {data.tx_gridelements_view_column_1 -> f:format.raw()}
			</div>
		</div>
	</div>
</div>