{namespace fh = CarstenWalther\System\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="data.flexform_class">
        <f:then>
            <div class="section-content no-anchor {data.flexform_class}">
        </f:then>
        <f:else>
            <div class="section-content no-anchor">
        </f:else>
    </f:if>
         <f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
     </div>
</f:section>