<div class="parallax-window-standort" >
    <div class="parallax-slider">
        <div class="standorte" id="standorte">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="text-headline">
                            <f:format.raw>{data.tx_gridelements_view_column_4}</f:format.raw>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="text-bottom">
                            <f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 karte">
                        <f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="text-top">
                            <f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>