{namespace vh=CarstenWalther\System\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <div id="c{data.uid}">

        <ul class="nav nav-tabs" role="tablist">
            <f:for each="{data.tx_gridelements_view_children}" as="child" iteration="childIteration">
                <f:if condition="{0:data.flexform_indexElement} == {0:childIteration.cycle}">
                    <f:then>
                        <li role="presentation" class="active">
                            <a href="#tab-{childIteration.cycle}" aria-controls="tab-{childIteration.cycle}" role="tab" data-toggle="tab">{child.header}</a>
                        </li>
                    </f:then>
                    <f:else>
                        <li role="presentation" class="">
                            <a href="#tab-{childIteration.cycle}" aria-controls="tab-{childIteration.cycle}" role="tab" data-toggle="tab">{child.header}</a>
                        </li>
                    </f:else>
                </f:if>
            </f:for>
        </ul>

        <div class="tab-content">
            <f:for each="{data.tx_gridelements_view_children}" as="child" iteration="childIteration">
                <f:if condition="{0:data.flexform_indexElement} == {0:childIteration.cycle}">
                    <f:then>
                        <div role="tabpanel" class="tab-pane active" id="tab-{childIteration.cycle}">
                            <f:format.raw>{vh:arrayIndex(object: data, index: 'tx_gridelements_view_child_{child.uid}')}</f:format.raw>
                        </div>
                    </f:then>
                    <f:else>
                        <div role="tabpanel" class="tab-pane" id="tab-{childIteration.cycle}">
                            <f:format.raw>{vh:arrayIndex(object: data, index: 'tx_gridelements_view_child_{child.uid}')}</f:format.raw>
                        </div>
                    </f:else>
                </f:if>
            </f:for>
        </div>

    </div>

</f:section>
