<f:layout name="Default"/>

<f:section name="main">

	<f:render partial="Navbar" />

	<div class="content">
		<f:cObject typoscriptObjectPath="lib.content.zero" />
    </div>

	<f:render partial="Footer" />

</f:section>
