<f:layout name="Default"/>

<f:section name="main">

	<f:render partial="Navbar" arguments="{subpage: 1}"/>

	<div class="content subpage">
		<f:cObject typoscriptObjectPath="lib.content.zero" />
    </div>

	<f:render partial="Footer" arguments="{subpage: 1}"/>

</f:section>
