/* WIDTHS */
/* FONTS */
/* COLORS */
.tx-gigaset-casemanager {
  position: relative;
  overflow: hidden;
  /* Remove padding for col-children */
  /* set all div children to border-box */ }
  .tx-gigaset-casemanager [class^='col-'] {
    padding: 0; }
  .tx-gigaset-casemanager div {
    box-sizing: border-box; }

/* CSS for use case elements */
.tx-gigaset-casemanager-element {
  overflow: hidden;
  margin-bottom: 25px;
  position: relative; }

.tx-gigaset-casemanager .row:last-of-type .tx-gigaset-casemanager-element {
  margin-bottom: 0; }

/*  TABLET */
@media only screen and (min-width: 768px) {
  /* set display flex to get a full height div */
  .fullheight {
    display: -ms-flexbox;
    display: flex; }
  .tx-gigaset-casemanager-element {
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    /* revert flex direction to switch image and text position */ }
    .tx-gigaset-casemanager-element.reverse {
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse; } }

/* CSS for use case image */
.tx-gigaset-casemanager-element .tx-gigaset-casemanager-image {
  margin-bottom: 50px; }
  .tx-gigaset-casemanager-element .tx-gigaset-casemanager-image img {
    /* max-width of images to 200% to display the first 50% of the image for mobile devices */
    max-width: 200%;
    height: auto;
    /* center image within the div */
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

/* ORIENTATION LANDSCAPE */
@media only screen and (orientation: landscape) {
  .tx-gigaset-casemanager-element .tx-gigaset-casemanager-image img {
    /* restore original max-width of 100% */
    max-width: 100%; } }

/*  TABLET */
@media only screen and (min-width: 768px) {
  .tx-gigaset-casemanager-element .tx-gigaset-casemanager-image {
    margin-bottom: 0; }
    .tx-gigaset-casemanager-element .tx-gigaset-casemanager-image img {
      /* restore original max-width of 100% */
      max-width: 100%; } }

/* CSS for the description container - includes headline, subtitle and bodytext */
.tx-gigaset-casemanager-description {
  text-align: center;
  padding: 0 10%;
  background-color: #ffffff;
  width: 100%;
  /* unset padding and margin for description paragraphs */
  /* CSS for the headline container - includes headline and subtitle */
  /* CSS for the bodytext */ }
  .tx-gigaset-casemanager-description p {
    padding: 0;
    margin: 0; }
  .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline {
    margin-bottom: 30px;
    /* CSS for the headline */
    /* CSS for the subtitle */ }
    .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h1, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h2, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h3, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h4, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h5, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h6, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline p.headline {
      font-size: 30px; }
    .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline .subtitle {
      font-family: "MyriadWebPro-Bold", Arial, sans-serif;
      font-size: 18px; }
  .tx-gigaset-casemanager-description .tx-gigaset-casemanager-bodytext p {
    font-size: 18px; }
  .tx-gigaset-casemanager-description .tx-gigaset-casemanager-bodytext b {
    font-size: 22px;
    font-family: "MyriadWebPro-Bold", Arial, sans-serif; }

/*  TABLET */
@media only screen and (min-width: 768px) {
  /* align description vertically */
  .tx-gigaset-casemanager-description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; } }

/*  DESKTOP (>= 1200px) */
@media only screen and (min-width: 1200px) {
  .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h1, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h2, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h3, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h4, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h5, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline h6, .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline p.headline {
    font-size: 42px; }
  .tx-gigaset-casemanager-description .tx-gigaset-casemanager-headline .subtitle {
    font-size: 28px; }
  .tx-gigaset-casemanager-description .tx-gigaset-casemanager-bodytext p {
    font-size: 28px;
    line-height: normal; }
  .tx-gigaset-casemanager-description .tx-gigaset-casemanager-bodytext b {
    font-size: 34px; } }
