<div class="tx-headerslider">

	<f:render section="main" />

	<f:render partial="Controls" />

	<f:comment>
	<![CDATA[
	<!--
	<f:if condition="{slides -> f:count()}>1">
		<f:render partial="Roadmap" arguments="{slides: slides}" />
	</f:if>
	-->
	]]>
	</f:comment>

</div>