/* WIDTHS */
/* FONTS */
/* COLORS */
/* COLORS */
.tx-headerslider {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100vh; }

@media only screen and (min-width: 1200px) {
  .tx-headerslider {
    width: 100%;
    height: auto; } }

/* SLIDE ELEMENTS */
.tx-headerslider .headerslider-element {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  transition: all 800ms ease;
  /* first element provides the needed height of the wrapping container - otherwise it's height would be 0 */ }
  .tx-headerslider .headerslider-element.lightheme {
    color: #ffffff;
    border-color: #ffffff; }
  .tx-headerslider .headerslider-element.darktheme {
    color: #000000;
    border-color: #000000; }
  .tx-headerslider .headerslider-element:first-of-type, .tx-headerslider .headerslider-element.active {
    bottom: 0; }
  .tx-headerslider .headerslider-element:first-of-type {
    position: relative;
    bottom: 0; }
  .tx-headerslider .headerslider-element .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    text-align: center;
    padding: 60% 10%;
    box-sizing: border-box;
    /* CTA */ }
    .tx-headerslider .headerslider-element .text p {
      font-family: "Times New Roman", "Times", Serif;
      font-size: 20px; }
    .tx-headerslider .headerslider-element .text a.headerButton, .tx-headerslider .headerslider-element .text a.videoLightbox {
      margin: 20px auto 0 auto; }
    .tx-headerslider .headerslider-element .text h1, .tx-headerslider .headerslider-element .text h2, .tx-headerslider .headerslider-element .text h3, .tx-headerslider .headerslider-element .text h4, .tx-headerslider .headerslider-element .text h5, .tx-headerslider .headerslider-element .text h6, .tx-headerslider .headerslider-element .text p.headline {
      font-family: "Times New Roman", "Times", Serif;
      font-size: 28px;
      margin: 0 auto;
      display: table;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-top: 0px;
      border-bottom: 1px;
      border-right: 0px;
      border-left: 0px;
      border-style: solid; }
    .tx-headerslider .headerslider-element .text b {
      font-size: 16px;
      font-family: "Times New Roman", "Times", Serif; }
  .tx-headerslider .headerslider-element .image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .tx-headerslider .headerslider-element .image img {
      width: 100%;
      max-width: 100%; }

@media only screen and (min-width: 768px) {
  .tx-headerslider .headerslider-element .text {
    padding: 20vh 10vw; }
    .tx-headerslider .headerslider-element .text p {
      font-size: 24px; }
    .tx-headerslider .headerslider-element .text h1, .tx-headerslider .headerslider-element .text h2, .tx-headerslider .headerslider-element .text h3, .tx-headerslider .headerslider-element .text h4, .tx-headerslider .headerslider-element .text h5, .tx-headerslider .headerslider-element .text h6, .tx-headerslider .headerslider-element .text p.headline {
      font-size: 40px; }
    .tx-headerslider .headerslider-element .text hr {
      width: 30%; }
    .tx-headerslider .headerslider-element .text b {
      font-size: 24px; }
    .tx-headerslider .headerslider-element .text a.headerButton, .tx-headerslider .headerslider-element .text a.videoLightbox {
      margin-top: 40px; } }

@media only screen and (min-width: 992px) {
  .tx-headerslider .headerslider-element .text {
    padding: 10% 10%; }
  .tx-headerslider .headerslider-element .image img {
    position: relative;
    width: auto;
    max-width: none;
    height: 100%;
    left: 50%;
    transform: translateX(-50%); } }

@media only screen and (min-width: 1200px) {
  .tx-headerslider .headerslider-element .text {
    padding: 8% 10%; }
    .tx-headerslider .headerslider-element .text p {
      font-size: 28px;
      margin-top: -10px; }
    .tx-headerslider .headerslider-element .text h1, .tx-headerslider .headerslider-element .text h2, .tx-headerslider .headerslider-element .text h3, .tx-headerslider .headerslider-element .text h4, .tx-headerslider .headerslider-element .text h5, .tx-headerslider .headerslider-element .text h6, .tx-headerslider .headerslider-element .text p.headline {
      font-size: 60px; }
    .tx-headerslider .headerslider-element .text hr {
      width: 30%; }
    .tx-headerslider .headerslider-element .text b {
      font-size: 34px; }
  .tx-headerslider .headerslider-element .image img {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    left: 0;
    transform: translateX(0); } }

@media only screen and (max-width: 767px) {
  .tx-headerslider .headerslider-element h1, .tx-headerslider .headerslider-element h2, .tx-headerslider .headerslider-element h3, .tx-headerslider .headerslider-element h4, .tx-headerslider .headerslider-element h5, .tx-headerslider .headerslider-element h6 {
    font-size: 24px !important;
    margin-bottom: 35px !important; }
  .tx-headerslider .headerslider-element p {
    font-size: 18px !important; }
  .tx-headerslider .headerslider-element .text {
    padding: 20% 10%; } }

@media only screen and (max-width: 600px) {
  .tx-headerslider {
    height: auto; }
    .tx-headerslider .headerslider-element .text {
      padding: 20% 10%; } }

/* CONTROLS */
.tx-headerslider .headerslider-button {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  display: none; }
  .tx-headerslider .headerslider-button.next-slide {
    bottom: 0; }
  .tx-headerslider .headerslider-button.prev-slide {
    margin-top: 60px;
    top: 0; }
  .tx-headerslider .headerslider-button img {
    height: auto;
    width: 40px; }
  .tx-headerslider .headerslider-button p.hint {
    color: #ffffff;
    font-family: 'MyriadPro-Light'; }

@media only screen and (orientation: landscape) {
  .tx-headerslider .headerslider-button {
    padding: 2%; } }

@media only screen and (min-width: 768px) {
  .tx-headerslider .headerslider-button {
    padding: 2%; } }

@media only screen and (min-width: 1200px) {
  .tx-headerslider .headerslider-button img {
    width: 80px; } }

/* only landscape */
/* iPhone Start*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body .tx-headerslider .headerslider-element .text {
    padding: 12% 10%; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body .tx-headerslider .headerslider-element .text {
    padding: 12% 10%; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  body .tx-headerslider .headerslider-element .text {
    padding: 12% 10%; } }

/* iPhone End */
/* Galaxy Start */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  body .tx-headerslider .headerslider-element .text {
    padding: 12% 10%; } }

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  body .tx-headerslider .headerslider-element .text {
    padding: 12% 10%; } }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  body .tx-headerslider .headerslider-element .text {
    padding: 12% 10%; } }

/* Galaxy End */
/* HTC Start */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  body .tx-headerslider .headerslider-element .text {
    padding: 12% 10%; } }

/* HTC End */
.tx-headerslider .headerslider-roadmap {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100%;
  padding: 2% 4%;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  .tx-headerslider .headerslider-roadmap .headerslider-roadmap-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    height: 80%; }
    .tx-headerslider .headerslider-roadmap .headerslider-roadmap-wrap .milestone {
      width: 10px;
      height: 10px;
      background-color: #a89f96;
      border-radius: 20px 20px 20px 20px;
      transition: all 400ms ease; }
    .tx-headerslider .headerslider-roadmap .headerslider-roadmap-wrap .spacer {
      width: 2px;
      height: 5%;
      background-color: #a89f96;
      margin: 5px auto;
      transition: all 400ms ease;
      box-sizing: border-box; }
    .tx-headerslider .headerslider-roadmap .headerslider-roadmap-wrap .milestone.active, .tx-headerslider .headerslider-roadmap .headerslider-roadmap-wrap .spacer.active {
      background-color: #e03c31; }

@media only screen and (min-width: 768px) {
  .tx-headerslider .headerslider-roadmap {
    padding: 2%; }
    .tx-headerslider .headerslider-roadmap .headerslider-roadmap-wrap .milestone {
      width: 15px;
      height: 15px; } }
