<!-- ###master_input### -->
<div class="form-group ###is_error_###fieldname######">
	<label class="control-label ###fieldname### ###is_error_###fieldname######" for="###fieldname###">###LLL:###fieldname######</label>
	<input class="form-control"
	type="text" size="20"
	id="###fieldname###"
	name="###formValuesPrefix###[###fieldname###]"
	placeholder="###LLL:###fieldname###.placeholder### ###required_###fieldname######"
	value="###value_###fieldname######"/>
		###error_###fieldname######
</div>
<!-- ###master_input### -->

<!-- ###master_textarea### -->
<div class="form-group ###is_error_###fieldname######">
	<label for="###fieldname###">###LLL:###fieldname######</label>
	<textarea class="form-control textarea ###is_error_###fieldname######" rows="10" cols="30" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" placeholder="###LLL:###fieldname###.placeholder###  ###required_###fieldname######">###value_###fieldname######</textarea>
	###error_###fieldname######
</div>
<!-- ###master_textarea### -->

<!-- ###master_input_ajax### -->
<div class="form-group ajax ###is_error_###fieldname######">
	<div class="col-sm-3">
		<div class="row">
			<label class="col-xs-10 control-label" for="###fieldname###">###LLL:###fieldname###### ###required_###fieldname######</label>
			<div class="col-xs-2">
				###validate_###fieldname######
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<input class="form-control" type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
	</div>
</div>
<!-- ###master_input_ajax### -->

<!-- ###master_textarea_ajax### -->
<div class="form-group ajax ###is_error_###fieldname######">
	<div class="col-sm-3">
		<div class="row">
			<label class="col-xs-10 control-label " for="###fieldname###">###LLL:###fieldname###### ###required_###fieldname######</label>
			<div class="col-xs-2">
				###validate_###fieldname######
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<textarea class="form-control" rows="3" cols="30" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]">###value_###fieldname######</textarea>
	</div>
</div>
<!-- ###master_textarea_ajax### -->

<!-- ###master_position### -->
<div class="form-group ###is_error_position###">
	<label for="position" class="col-sm-3 control-label">###LLL:position### ###required_position###</label>
	<div class="col-sm-9">
		<select id="position" class="form-control" name="###formValuesPrefix###[position]" class="select">
			<option value="">---</option>
			<option value="###LLL:job_1###" ###selected_position_###LLL:job_1######>###LLL:job_1###</option>
			<option value="###LLL:job_2###" ###selected_position_###LLL:job_2######>###LLL:job_2###</option>
			<option value="###LLL:job_3###" ###selected_position_###LLL:job_3######>###LLL:job_3###</option>
		</select>
		###error_position###
		###validate_position###
	</div>
</div>
<!-- ###master_position### -->

<!-- ###master_gender### -->
<div class="form-group ###is_error_gender###">
	<label for="gender" class="control-label">###LLL:gender_label###</label>
	<select id="gender" class="form-control select" name="###formValuesPrefix###[gender]" class="select">
		<option value="---" ###selected_gender_###LLL:gender_1######>###LLL:gender_1###</option>
		<option value="###LLL:gender_2###" ###selected_gender_###LLL:gender_2######>###LLL:gender_2###</option>
		<option value="###LLL:gender_3###" ###selected_gender_###LLL:gender_3######>###LLL:gender_3###</option>
	</select>
	###error_gender###
	###validate_gender###
</div>
<!-- ###master_gender### -->

<!-- ###master_requirednote### -->
<div class="required-note">
	###LLL:requirednote###
</div>
<!-- ###master_requirednote### -->

<!-- ###master_contact-type### -->
###error_contact-type###

<div class="form-group">
	<label class="col-sm-3 control-label" for="contact-type-private" ###is_error_contact-type###>###LLL:contact-type### ###required_contact-type###</label>
	<div class="col-sm-9">
		<div class="radio">
			<label for="contact-type-private">
				<input type="radio" id="contact-type-private" name="###formValuesPrefix###[contact-type]" value="###LLL:contact-type.private###" ###checked_contact-type_###LLL:contact-type.private###### />
				###LLL:contact-type.private### </label>
		</div>
		<div class="radio">
			<label for="contact-type-commercial">
				<input type="radio" id="contact-type-commercial" name="###formValuesPrefix###[contact-type]" value="###LLL:contact-type.commercial###" ###checked_contact-type_###LLL:contact-type.commercial###### />
				###LLL:contact-type.commercial### </label>
		</div>
	</div>
</div>
<!-- ###master_contact-type### -->

<!-- ###master_tests### -->

<div class="form-group tests">
	<label class="control-label">###LLL:tests###</label>
	<div class="col-sm-12">

		<div class="checkbox">
			<label for="tests-unknown">
				<input type="checkbox" id="tests-unknown" name="###formValuesPrefix###[tests][]" value="unknown" ###checked_tests_unknown### />
				<div class="checkview"></div>
				###LLL:tests.unknown###
			</label>
		</div>
		<div class="checkbox">
			<label for="tests-crowd">
				<input type="checkbox" id="tests-crowd" name="###formValuesPrefix###[tests][]" value="crowd" ###checked_tests_crowd### />
				<div class="checkview"></div>
				###LLL:tests.crowd### </label>
		</div>
		<div class="checkbox">
			<label for="tests-explorative">
				<input type="checkbox" id="tests-explorative" name="###formValuesPrefix###[tests][]" value="explorative" ###checked_tests_explorative### />
				<div class="checkview"></div>
				###LLL:tests.explorative### </label>
		</div>
		<div class="checkbox">
			<label for="tests-functional">
				<input type="checkbox" id="tests-functional" name="###formValuesPrefix###[tests][]" value="functional" ###checked_tests_functional### />
				<div class="checkview"></div>
				###LLL:tests.functional###
			</label>
		</div>
		<div class="checkbox">
			<label for="tests-regression">
				<input type="checkbox" id="tests-regression" name="###formValuesPrefix###[tests][]" value="regression" ###checked_tests_regression### />
				<div class="checkview"></div>
				###LLL:tests.regression### </label>
		</div>
		<div class="checkbox">
			<label for="tests-sanity">
				<input type="checkbox" id="tests-sanity" name="###formValuesPrefix###[tests][]" value="sanity" ###checked_tests_sanity### />
				<div class="checkview"></div>
				###LLL:tests.sanity### </label>
		</div>

		###error_tests###
	</div>

</div>
<!-- ###master_tests### -->

<!-- ###master_file### -->
<div class="form-group files ###is_error_###fieldname######">
	<label for="###fieldname###" class="col-sm-3 control-label">###LLL:###fieldname###### ###required_###fieldname######</label>
	<div class="col-sm-9">
		<input type="file" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" />
		<br />
		<input type="submit" ###submit_reload### class="btn btn-default tiny submit" value="###LLL:submit_reload###" />
		###error_###fieldname######
	</div>
</div>
<div class="form-group">
	<div class="col-sm-9 col-sm-offset-3">
		<br />
		<span>###LLL:allowedTypes###</span><span>######fieldname###_allowedTypes###</span>
		<br />
		<span>###LLL:maxSize###</span><span>######fieldname###_maxSize###</span>
		<br />
		<span>###LLL:uploadedFiles_count###</span><span>######fieldname###_fileCount### / ######fieldname###_maxCount###</span>
		<br />
	</div>
</div>
######fieldname###_uploadedFiles###
<!-- ###master_file### -->

<!-- ###master_callback### -->
<div class="checkbox">
	<label for="callback">
		<input type="checkbox" id="callback" name="###formValuesPrefix###[callback][]" value="1" ###checked_callback_unknown### />
		<div class="checkview"></div>
		###LLL:callback###
	</label>
</div>
<!-- ###master_callback### -->

<!-- ###master_basicfile### -->
<div class="form-group files ###is_error_###fieldname######">
	<label for="###fieldname###" class="col-sm-3 control-label">###LLL:###fieldname###### ###required_###fieldname######</label>
	<div class="col-sm-9">
		<input type="file" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" />
		###error_###fieldname######
	</div>
</div>
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-9">
		<br />
		<span>###LLL:allowedTypes###</span><span>######fieldname###_allowedTypes###</span>
		<br />
		<span>###LLL:maxSize###</span><span>######fieldname###_maxSize###</span>
		<br />
	</div>
</div>
<!-- ###master_basicfile### -->

<!-- ###master_checkbox### -->
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<div class="checkbox">
			<label for="###fieldname###">
				<input type="checkbox" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="1" ###checked_###fieldname###_1### />
				###LLL:###fieldname###### </label>
			###error_###fieldname######
		</div>
	</div>
</div>
<!-- ###master_checkbox### -->

<!-- ###master_spamprotection-captcha### -->
<div class="form-group ###is_error_captchafield###">
	<label class="col-sm-3 control-label">###LLL:captcha###</label>
	<div class="col-sm-9">
		###CAPTCHA###
		<input class="form-control" type="text" name="###formValuesPrefix###[captchafield]" />
		###error_captchafield###
	</div>
</div>
<!-- ###master_spamprotection-captcha### -->

<!-- ###master_spamprotection-jm_recaptcha### -->
<div class="form-group ###is_error_recaptcha_response_field###">
		<label class="col-sm-3 control-label">###LLL:captcha### *</label>
	<div class="col-sm-9">
		###RECAPTCHA###
		###error_recaptcha_response_field###
	</div>
</div>
<!-- ###master_spamprotection-jm_recaptcha### -->

<!-- ###master_spamprotection-sr_freecap### -->
<div class="form-group captcha ###is_error_freecapfield###">
	<div class="col-lg-12">
		<label class="control-label">###SR_FREECAP_NOTICE###</label><br />
		###SR_FREECAP_IMAGE###

			###SR_FREECAP_CANT_READ###

	</div>

	<div class="col-md-4 col-md-offset-4">

		<input class="form-control" type="text" size="15" id="freecapfield" name="###formValuesPrefix###[freecapfield]" title="###SR_FREECAP_NOTICE###" value="" />
		###error_freecapfield###

	</div>
</div>
<!-- ###master_spamprotection-sr_freecap### -->

<!-- ###master_spamprotection-wt_calculating_captcha### -->
<div class="form-group ###is_error_wt_calculating_captchafield###">
		<label class="col-sm-3 control-label">###LLL:captcha### ###required_wt_calculating_captchafield###</label>
	<div class="col-sm-9">
		###WT_CALCULATING_CAPTCHA###
		<input class="form-control" type="text" name="###formValuesPrefix###[wt_calculating_captchafield]" />
		###error_wt_calculating_captchafield###
	</div>
</div>
<!-- ###master_spamprotection-wt_calculating_captcha### -->

<!-- ###master_spamprotection-mathguard### -->
<div class="form-group ###is_error_mathguard_answer### mathguard">
		<label class="col-sm-3 control-label">###LLL:captcha### *</label>
	<div class="col-sm-9">
		###MATHGUARD###
		###error_mathguard_answer###
	</div>
</div>
<!-- ###master_spamprotection-mathguard### -->

<!-- ###master_spamprotection-timecheck### -->
<input type="hidden" name="###formValuesPrefix###[formtime]" value="###TIMESTAMP###" />
<!-- ###master_spamprotection-timecheck### -->

<!-- ###master_submit### -->
<div class="form-group">
	<input type="submit" ###submit_nextStep### class="submit btn btn-default btn-slider" value="###LLL:submit###" />
</div>
<!-- ###master_submit### -->

<!-- ###master_submit-disable### -->
<div class="form-group">
	<div class="col-sm-1 pull-right">
		<input type="submit" ###submit_nextStep### class="btn btn-default ###validation-status###" value="###LLL:submit###" />
	</div>
</div>
<!-- ###master_submit-disable### -->

<!-- ###master_ajax-submit### -->
<div class="form-group">
	<div class="col-xs-10">
		###loading_ajax-submit###
	</div>
	<div class="col-xs-2">
		<input type="submit" ###submit_nextStep### class="btn btn-default" value="###LLL:submit###" />
	</div>
</div>
<!-- ###master_ajax-submit### -->

<!-- ###master_next### -->
	<div class="col-sm-1 pull-right">
		<input type="submit" ###submit_nextStep### class="btn btn-default" value="###LLL:next###" />
	</div>
<!-- ###master_next### -->

<!-- ###master_prev### -->
<div class="form-group">
	<div class="col-sm-1 col-sm-offset-3">
		<input type="submit" ###submit_prevStep### class="btn btn-default" value="###LLL:prev###" />
	</div>
</div>
<!-- ###master_prev### -->

<!-- ###master_prevnext### -->
<div class="form-group">
	<div class="col-sm-1 col-sm-offset-3">
		<input type="submit" ###submit_prevStep### class="btn btn-default" value="###LLL:prev###" />
	</div>
	<div class="col-sm-1 pull-right">
		<input type="submit" ###submit_nextStep### class="btn btn-default" value="###LLL:next###" />
	</div>
</div>
<!-- ###master_prevnext### -->

<!-- ###master_prevsubmit### -->
<div class="form-group">
	<div class="col-sm-1 col-sm-offset-3">
		<input type="submit" ###submit_prevStep### class="btn btn-default" value="###LLL:prev###" />
	</div>
	<div class="col-sm-1 pull-right">
		<input type="submit" ###submit_nextStep### class="btn btn-default" value="###LLL:submit###" />
	</div>
</div>
<!-- ###master_prevsubmit### -->

<!-- ###master_form-start### -->
	<form action="###REL_URL###" method="post" class="customer-register-form form-horizontal" role="form">
		###HIDDEN_FIELDS###
		<!-- ###master_form-start### -->

		<!-- ###master_multipart-form-start### -->
		<div class="container">
			<form action="###REL_URL###" method="post" enctype="multipart/form-data" class="customer-register-form form-horizontal" role="form">
				###HIDDEN_FIELDS###
				<!-- ###master_multipart-form-start### -->

				<!-- ###master_form-end### -->
			</form>
		<!-- ###master_form-end### -->

		<!-- ###master_section-start### -->
		<fieldset>
			<!-- ###master_section-start### -->

			<!-- ###master_section-end### -->
		</fieldset>
		<!-- ###master_section-end### -->

		<!-- ###master_email-user-start-plain### -->

		###LLL:greetings### ###value_name###

		###LLL:email_user_text###

		<!-- ###master_email-user-start-plain### -->

		<!-- ###master_email-user-end-plain### -->

		###LLL:email_user_footer###
		<!-- ###master_email-user-end-plain### -->

		<!-- ###master_email-admin-start-plain### -->

		###LLL:email_admin_text###

		<!-- ###master_email-admin-start-plain### -->

		<!-- ###master_email-admin-end-plain### -->

		###LLL:email_admin_footer###
		<!-- ###master_email-admin-end-plain### -->

		<!-- ###master_email-user-start-html### -->
		<p>
			###LLL:greetings### ###value_name###,
		</p>
		<br />
		<p>
			###LLL:email_user_text###
		</p>
		<br />
		<table>
			<!-- ###master_email-user-start-html### -->

			<!-- ###master_email-user-end-html### -->
		</table>
		<br />
		<p>
			###LLL:email_user_footer###
		</p>
		<!-- ###master_email-user-end-html### -->

		<!-- ###master_email-admin-start-html### -->
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
		<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<style>#outlook a{padding:0;}body{width:100%!important;min-width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;Margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}.ExternalClass{width:100%;}.ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{line-height:100%;}#backgroundTable{margin:0;Margin:0;padding:0;width:100%!important;line-height:100%!important;}img{outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;max-width:100%;clear:both;display:block;}center{width:100%;min-width:580px;}a img{border:none;}p{margin:0 0 0 10px;Margin:0 0 0 10px;}table{border-spacing:0;border-collapse:collapse;}td{word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important;}table,tr,td{padding:0;vertical-align:top;text-align:left;}html{min-height:100%;background:#f3f3f3;}table.body{background:#f3f3f3;height:100%;width:100%;}table.container{background:#fefefe;width:580px;margin:0 auto;Margin:0 auto;text-align:inherit;}table.row{padding:0;width:100%;position:relative;}table.container table.row{display:table;}td.columns,td.column,th.columns,th.column{margin:0 auto;Margin:0 auto;padding-left:16px;padding-bottom:16px;}td.columns.last,td.column.last,th.columns.last,th.column.last{padding-right:16px;}td.columns table,td.column table,th.columns table,th.column table{width:100%;}td.large-1,th.large-1{width:32.33333px;padding-left:8px;padding-right:8px;}td.large-1.first,th.large-1.first{padding-left:16px;}td.large-1.last,th.large-1.last{padding-right:16px;}.collapse>tbody>tr>td.large-1,.collapse>tbody>tr>th.large-1{padding-right:0;padding-left:0;width:48.33333px;}.collapse td.large-1.first,.collapse th.large-1.first,.collapse td.large-1.last,.collapse th.large-1.last{width:56.33333px;}td.large-2,th.large-2{width:80.66667px;padding-left:8px;padding-right:8px;}td.large-2.first,th.large-2.first{padding-left:16px;}td.large-2.last,th.large-2.last{padding-right:16px;}.collapse>tbody>tr>td.large-2,.collapse>tbody>tr>th.large-2{padding-right:0;padding-left:0;width:96.66667px;}.collapse td.large-2.first,.collapse th.large-2.first,.collapse td.large-2.last,.collapse th.large-2.last{width:104.66667px;}td.large-3,th.large-3{width:129px;padding-left:8px;padding-right:8px;}td.large-3.first,th.large-3.first{padding-left:16px;}td.large-3.last,th.large-3.last{padding-right:16px;}.collapse>tbody>tr>td.large-3,.collapse>tbody>tr>th.large-3{padding-right:0;padding-left:0;width:145px;}.collapse td.large-3.first,.collapse th.large-3.first,.collapse td.large-3.last,.collapse th.large-3.last{width:153px;}td.large-4,th.large-4{width:177.33333px;padding-left:8px;padding-right:8px;}td.large-4.first,th.large-4.first{padding-left:16px;}td.large-4.last,th.large-4.last{padding-right:16px;}.collapse>tbody>tr>td.large-4,.collapse>tbody>tr>th.large-4{padding-right:0;padding-left:0;width:193.33333px;}.collapse td.large-4.first,.collapse th.large-4.first,.collapse td.large-4.last,.collapse th.large-4.last{width:201.33333px;}td.large-5,th.large-5{width:225.66667px;padding-left:8px;padding-right:8px;}td.large-5.first,th.large-5.first{padding-left:16px;}td.large-5.last,th.large-5.last{padding-right:16px;}.collapse>tbody>tr>td.large-5,.collapse>tbody>tr>th.large-5{padding-right:0;padding-left:0;width:241.66667px;}.collapse td.large-5.first,.collapse th.large-5.first,.collapse td.large-5.last,.collapse th.large-5.last{width:249.66667px;}td.large-6,th.large-6{width:274px;padding-left:8px;padding-right:8px;}td.large-6.first,th.large-6.first{padding-left:16px;}td.large-6.last,th.large-6.last{padding-right:16px;}.collapse>tbody>tr>td.large-6,.collapse>tbody>tr>th.large-6{padding-right:0;padding-left:0;width:290px;}.collapse td.large-6.first,.collapse th.large-6.first,.collapse td.large-6.last,.collapse th.large-6.last{width:298px;}td.large-7,th.large-7{width:322.33333px;padding-left:8px;padding-right:8px;}td.large-7.first,th.large-7.first{padding-left:16px;}td.large-7.last,th.large-7.last{padding-right:16px;}.collapse>tbody>tr>td.large-7,.collapse>tbody>tr>th.large-7{padding-right:0;padding-left:0;width:338.33333px;}.collapse td.large-7.first,.collapse th.large-7.first,.collapse td.large-7.last,.collapse th.large-7.last{width:346.33333px;}td.large-8,th.large-8{width:370.66667px;padding-left:8px;padding-right:8px;}td.large-8.first,th.large-8.first{padding-left:16px;}td.large-8.last,th.large-8.last{padding-right:16px;}.collapse>tbody>tr>td.large-8,.collapse>tbody>tr>th.large-8{padding-right:0;padding-left:0;width:386.66667px;}.collapse td.large-8.first,.collapse th.large-8.first,.collapse td.large-8.last,.collapse th.large-8.last{width:394.66667px;}td.large-9,th.large-9{width:419px;padding-left:8px;padding-right:8px;}td.large-9.first,th.large-9.first{padding-left:16px;}td.large-9.last,th.large-9.last{padding-right:16px;}.collapse>tbody>tr>td.large-9,.collapse>tbody>tr>th.large-9{padding-right:0;padding-left:0;width:435px;}.collapse td.large-9.first,.collapse th.large-9.first,.collapse td.large-9.last,.collapse th.large-9.last{width:443px;}td.large-10,th.large-10{width:467.33333px;padding-left:8px;padding-right:8px;}td.large-10.first,th.large-10.first{padding-left:16px;}td.large-10.last,th.large-10.last{padding-right:16px;}.collapse>tbody>tr>td.large-10,.collapse>tbody>tr>th.large-10{padding-right:0;padding-left:0;width:483.33333px;}.collapse td.large-10.first,.collapse th.large-10.first,.collapse td.large-10.last,.collapse th.large-10.last{width:491.33333px;}td.large-11,th.large-11{width:515.66667px;padding-left:8px;padding-right:8px;}td.large-11.first,th.large-11.first{padding-left:16px;}td.large-11.last,th.large-11.last{padding-right:16px;}.collapse>tbody>tr>td.large-11,.collapse>tbody>tr>th.large-11{padding-right:0;padding-left:0;width:531.66667px;}.collapse td.large-11.first,.collapse th.large-11.first,.collapse td.large-11.last,.collapse th.large-11.last{width:539.66667px;}td.large-12,th.large-12{width:564px;padding-left:8px;padding-right:8px;}td.large-12.first,th.large-12.first{padding-left:16px;}td.large-12.last,th.large-12.last{padding-right:16px;}.collapse>tbody>tr>td.large-12,.collapse>tbody>tr>th.large-12{padding-right:0;padding-left:0;width:580px;}.collapse td.large-12.first,.collapse th.large-12.first,.collapse td.large-12.last,.collapse th.large-12.last{width:588px;}td.large-1 center,th.large-1 center{min-width:0.33333px;}td.large-2 center,th.large-2 center{min-width:48.66667px;}td.large-3 center,th.large-3 center{min-width:97px;}td.large-4 center,th.large-4 center{min-width:145.33333px;}td.large-5 center,th.large-5 center{min-width:193.66667px;}td.large-6 center,th.large-6 center{min-width:242px;}td.large-7 center,th.large-7 center{min-width:290.33333px;}td.large-8 center,th.large-8 center{min-width:338.66667px;}td.large-9 center,th.large-9 center{min-width:387px;}td.large-10 center,th.large-10 center{min-width:435.33333px;}td.large-11 center,th.large-11 center{min-width:483.66667px;}td.large-12 center,th.large-12 center{min-width:532px;}.body .columns td.large-1,.body .column td.large-1,.body .columns th.large-1,.body .column th.large-1{width:8.33333%;}.body .columns td.large-2,.body .column td.large-2,.body .columns th.large-2,.body .column th.large-2{width:16.66667%;}.body .columns td.large-3,.body .column td.large-3,.body .columns th.large-3,.body .column th.large-3{width:25%;}.body .columns td.large-4,.body .column td.large-4,.body .columns th.large-4,.body .column th.large-4{width:33.33333%;}.body .columns td.large-5,.body .column td.large-5,.body .columns th.large-5,.body .column th.large-5{width:41.66667%;}.body .columns td.large-6,.body .column td.large-6,.body .columns th.large-6,.body .column th.large-6{width:50%;}.body .columns td.large-7,.body .column td.large-7,.body .columns th.large-7,.body .column th.large-7{width:58.33333%;}.body .columns td.large-8,.body .column td.large-8,.body .columns th.large-8,.body .column th.large-8{width:66.66667%;}.body .columns td.large-9,.body .column td.large-9,.body .columns th.large-9,.body .column th.large-9{width:75%;}.body .columns td.large-10,.body .column td.large-10,.body .columns th.large-10,.body .column th.large-10{width:83.33333%;}.body .columns td.large-11,.body .column td.large-11,.body .columns th.large-11,.body .column th.large-11{width:91.66667%;}.body .columns td.large-12,.body .column td.large-12,.body .columns th.large-12,.body .column th.large-12{width:100%;}td.large-offset-1,td.large-offset-1.first,td.large-offset-1.last,th.large-offset-1,th.large-offset-1.first,th.large-offset-1.last{padding-left:64.33333px;}td.large-offset-2,td.large-offset-2.first,td.large-offset-2.last,th.large-offset-2,th.large-offset-2.first,th.large-offset-2.last{padding-left:112.66667px;}td.large-offset-3,td.large-offset-3.first,td.large-offset-3.last,th.large-offset-3,th.large-offset-3.first,th.large-offset-3.last{padding-left:161px;}td.large-offset-4,td.large-offset-4.first,td.large-offset-4.last,th.large-offset-4,th.large-offset-4.first,th.large-offset-4.last{padding-left:209.33333px;}td.large-offset-5,td.large-offset-5.first,td.large-offset-5.last,th.large-offset-5,th.large-offset-5.first,th.large-offset-5.last{padding-left:257.66667px;}td.large-offset-6,td.large-offset-6.first,td.large-offset-6.last,th.large-offset-6,th.large-offset-6.first,th.large-offset-6.last{padding-left:306px;}td.large-offset-7,td.large-offset-7.first,td.large-offset-7.last,th.large-offset-7,th.large-offset-7.first,th.large-offset-7.last{padding-left:354.33333px;}td.large-offset-8,td.large-offset-8.first,td.large-offset-8.last,th.large-offset-8,th.large-offset-8.first,th.large-offset-8.last{padding-left:402.66667px;}td.large-offset-9,td.large-offset-9.first,td.large-offset-9.last,th.large-offset-9,th.large-offset-9.first,th.large-offset-9.last{padding-left:451px;}td.large-offset-10,td.large-offset-10.first,td.large-offset-10.last,th.large-offset-10,th.large-offset-10.first,th.large-offset-10.last{padding-left:499.33333px;}td.large-offset-11,td.large-offset-11.first,td.large-offset-11.last,th.large-offset-11,th.large-offset-11.first,th.large-offset-11.last{padding-left:547.66667px;}td.expander,th.expander{visibility:hidden;width:0;padding:0!important;}.block-grid{width:100%;max-width:580px;}.block-grid td{display:inline-block;padding:8px;}.up-2 td{width:274px!important;}.up-3 td{width:177px!important;}.up-4 td{width:129px!important;}.up-5 td{width:100px!important;}.up-6 td{width:80px!important;}.up-7 td{width:66px!important;}.up-8 td{width:56px!important;}table.text-center,td.text-center,h1.text-center,h2.text-center,h3.text-center,h4.text-center,h5.text-center,h6.text-center,p.text-center,span.text-center{text-align:center;}h1.text-left,h2.text-left,h3.text-left,h4.text-left,h5.text-left,h6.text-left,p.text-left,span.text-left{text-align:left;}h1.text-right,h2.text-right,h3.text-right,h4.text-right,h5.text-right,h6.text-right,p.text-right,span.text-right{text-align:right;}span.text-center{display:block;width:100%;text-align:center;}@media only screen and (max-width: 596px) {.small-float-center{margin:0 auto!important;float:none!important;text-align:center!important;}.small-text-center{text-align:center!important;}.small-text-left{text-align:left!important;}.small-text-right{text-align:right!important;}}img.float-left{float:left;text-align:left;}img.float-right{float:right;text-align:right;}img.float-center,img.text-center{margin:0 auto;Margin:0 auto;float:none;text-align:center;}table.float-center,td.float-center,th.float-center{margin:0 auto;Margin:0 auto;float:none;text-align:center;}table.body table.container .hide-for-large{display:none;width:0;mso-hide:all;overflow:hidden;max-height:0px;font-size:0;width:0px;line-height:0;}@media only screen and (max-width: 596px) {table.body table.container .hide-for-large{display:block!important;width:auto!important;overflow:visible!important;}}table.body table.container .hide-for-large *{mso-hide:all;}@media only screen and (max-width: 596px) {table.body table.container .row.hide-for-large,table.body table.container .row.hide-for-large{display:table!important;width:100%!important;}}@media only screen and (max-width: 596px) {table.body table.container .show-for-large{display:none!important;width:0;mso-hide:all;overflow:hidden;}}body,table.body,h1,h2,h3,h4,h5,h6,p,td,th,a{color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;padding:0;margin:0;Margin:0;text-align:left;line-height:1.3;}h1,h2,h3,h4,h5,h6{color:inherit;word-wrap:normal;font-family:Helvetica,Arial,sans-serif;font-weight:normal;margin-bottom:10px;Margin-bottom:10px;}h1{font-size:34px;}h2{font-size:30px;}h3{font-size:28px;}h4{font-size:24px;}h5{font-size:20px;}h6{font-size:18px;}body,table.body,p,td,th{font-size:16px;line-height:19px;}p{margin-bottom:10px;Margin-bottom:10px;}p.lead{font-size:20px;line-height:1.6;}p.subheader{margin-top:4px;margin-bottom:8px;Margin-top:4px;Margin-bottom:8px;font-weight:normal;line-height:1.4;color:#8a8a8a;}small{font-size:80%;color:#cacaca;}a{color:#2199e8;text-decoration:none;}a:hover{color:#147dc2;}a:active{color:#147dc2;}a:visited{color:#2199e8;}h1 a,h1 a:visited,h2 a,h2 a:visited,h3 a,h3 a:visited,h4 a,h4 a:visited,h5 a,h5 a:visited,h6 a,h6 a:visited{color:#2199e8;}pre{background:#f3f3f3;margin:30px 0;Margin:30px 0;}pre code{color:#cacaca;}pre code span.callout{color:#8a8a8a;font-weight:bold;}pre code span.callout-strong{color:#ff6908;font-weight:bold;}hr{max-width:580px;height:0;border-right:0;border-top:0;border-bottom:1px solid #cacaca;border-left:0;margin:20px auto;Margin:20px auto;clear:both;}.stat{font-size:40px;line-height:1;}p+.stat{margin-top:-16px;Margin-top:-16px;}table.button{width:auto!important;margin:0 0 16px 0;Margin:0 0 16px 0;}table.button table td{width:auto!important;text-align:left;color:#fefefe;background:#2199e8;border:2px solid #2199e8;}table.button table td.radius{border-radius:3px;}table.button table td.rounded{border-radius:500px;}table.button table td a{font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:bold;color:#fefefe;text-decoration:none;display:inline-block;padding:8px 16px 8px 16px;border:0px solid #2199e8;border-radius:3px;}table.button:hover table tr td a,table.button:active table tr td a,table.button table tr td a:visited,table.button.tiny:hover table tr td a,table.button.tiny:active table tr td a,table.button.tiny table tr td a:visited,table.button.small:hover table tr td a,table.button.small:active table tr td a,table.button.small table tr td a:visited,table.button.large:hover table tr td a,table.button.large:active table tr td a,table.button.large table tr td a:visited{color:#fefefe;}table.button.tiny table td,table.button.tiny table a{padding:4px 8px 4px 8px;}table.button.tiny table a{font-size:10px;font-weight:normal;}table.button.small table td,table.button.small table a{padding:5px 10px 5px 10px;font-size:12px;}table.button.large table a{padding:10px 20px 10px 20px;font-size:20px;}table.expand,table.expanded{width:100%!important;}table.expand table,table.expanded table{width:100%;}table.expand table a,table.expanded table a{width:calc(100% - 20px);text-align:center;}table.expand center,table.expanded center{min-width:0;}table.button:hover table td,table.button:visited table td,table.button:active table td{background:#147dc2;color:#fefefe;}table.button:hover table a,table.button:visited table a,table.button:active table a{border:0px solid #147dc2;}table.button.secondary table td{background:#777777;color:#fefefe;border:2px solid #777777;}table.button.secondary table a{color:#fefefe;border:0px solid #777777;}table.button.secondary:hover table td{background:#919191;color:#fefefe;}table.button.secondary:hover table a{border:0px solid #919191;}table.button.secondary:hover table td a{color:#fefefe;}table.button.secondary:active table td a{color:#fefefe;}table.button.secondary table td a:visited{color:#fefefe;}table.button.success table td{background:#3adb76;border:2px solid #3adb76;}table.button.success table a{border:0px solid #3adb76;}table.button.success:hover table td{background:#23bf5d;}table.button.success:hover table a{border:0px solid #23bf5d;}table.button.alert table td{background:#ec5840;border:2px solid #ec5840;}table.button.alert table a{border:0px solid #ec5840;}table.button.alert:hover table td{background:#e23317;}table.button.alert:hover table a{border:0px solid #e23317;}table.callout{margin-bottom:16px;Margin-bottom:16px;}th.callout-inner{width:100%;border:1px solid #cbcbcb;padding:10px;background:#fefefe;}th.callout-inner.primary{background:#def0fc;border:1px solid #444444;color:#0a0a0a;}th.callout-inner.secondary{background:#ebebeb;border:1px solid #444444;color:#0a0a0a;}th.callout-inner.success{background:#e1faea;border:1px solid #1b9448;color:#fefefe;}th.callout-inner.warning{background:#fff3d9;border:1px solid #996800;color:#fefefe;}th.callout-inner.alert{background:#fce6e2;border:1px solid #b42912;color:#fefefe;}.thumbnail{border:solid 4px #fefefe;box-shadow:0 0 0 1px rgba(10,10,10,0.2);display:inline-block;line-height:0;max-width:100%;transition:box-shadow 200ms ease-out;border-radius:3px;margin-bottom:16px;}.thumbnail:hover,.thumbnail:focus{box-shadow:0 0 6px 1px rgba(33,153,232,0.5);}table.menu{width:580px;}table.menu td.menu-item,table.menu th.menu-item{padding:10px;padding-right:10px;}table.menu td.menu-item a,table.menu th.menu-item a{color:#2199e8;}table.menu.vertical td.menu-item,table.menu.vertical th.menu-item{padding:10px;padding-right:0;display:block;}table.menu.vertical td.menu-item a,table.menu.vertical th.menu-item a{width:100%;}table.menu.vertical td.menu-item table.menu.vertical td.menu-item,table.menu.vertical td.menu-item table.menu.vertical th.menu-item,table.menu.vertical th.menu-item table.menu.vertical td.menu-item,table.menu.vertical th.menu-item table.menu.vertical th.menu-item{padding-left:10px;}table.menu.text-center a{text-align:center;}body.outlook p{display:inline!important;}@media only screen and (max-width: 596px) {table.body img{width:auto!important;height:auto!important;}table.body center{min-width:0!important;}table.body .container{width:95%!important;}table.body .columns,table.body .column{height:auto!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:16px!important;padding-right:16px!important;}table.body .columns .column,table.body .columns .columns,table.body .column .column,table.body .column .columns{padding-left:0!important;padding-right:0!important;}table.body .collapse .columns,table.body .collapse .column{padding-left:0!important;padding-right:0!important;}td.small-1,th.small-1{display:inline-block!important;width:8.33333%!important;}td.small-2,th.small-2{display:inline-block!important;width:16.66667%!important;}td.small-3,th.small-3{display:inline-block!important;width:25%!important;}td.small-4,th.small-4{display:inline-block!important;width:33.33333%!important;}td.small-5,th.small-5{display:inline-block!important;width:41.66667%!important;}td.small-6,th.small-6{display:inline-block!important;width:50%!important;}td.small-7,th.small-7{display:inline-block!important;width:58.33333%!important;}td.small-8,th.small-8{display:inline-block!important;width:66.66667%!important;}td.small-9,th.small-9{display:inline-block!important;width:75%!important;}td.small-10,th.small-10{display:inline-block!important;width:83.33333%!important;}td.small-11,th.small-11{display:inline-block!important;width:91.66667%!important;}td.small-12,th.small-12{display:inline-block!important;width:100%!important;}.columns td.small-12,.column td.small-12,.columns th.small-12,.column th.small-12{display:block!important;width:100%!important;}.body .columns td.small-1,.body .column td.small-1,td.small-1 center,.body .columns th.small-1,.body .column th.small-1,th.small-1 center{display:inline-block!important;width:8.33333%!important;}.body .columns td.small-2,.body .column td.small-2,td.small-2 center,.body .columns th.small-2,.body .column th.small-2,th.small-2 center{display:inline-block!important;width:16.66667%!important;}.body .columns td.small-3,.body .column td.small-3,td.small-3 center,.body .columns th.small-3,.body .column th.small-3,th.small-3 center{display:inline-block!important;width:25%!important;}.body .columns td.small-4,.body .column td.small-4,td.small-4 center,.body .columns th.small-4,.body .column th.small-4,th.small-4 center{display:inline-block!important;width:33.33333%!important;}.body .columns td.small-5,.body .column td.small-5,td.small-5 center,.body .columns th.small-5,.body .column th.small-5,th.small-5 center{display:inline-block!important;width:41.66667%!important;}.body .columns td.small-6,.body .column td.small-6,td.small-6 center,.body .columns th.small-6,.body .column th.small-6,th.small-6 center{display:inline-block!important;width:50%!important;}.body .columns td.small-7,.body .column td.small-7,td.small-7 center,.body .columns th.small-7,.body .column th.small-7,th.small-7 center{display:inline-block!important;width:58.33333%!important;}.body .columns td.small-8,.body .column td.small-8,td.small-8 center,.body .columns th.small-8,.body .column th.small-8,th.small-8 center{display:inline-block!important;width:66.66667%!important;}.body .columns td.small-9,.body .column td.small-9,td.small-9 center,.body .columns th.small-9,.body .column th.small-9,th.small-9 center{display:inline-block!important;width:75%!important;}.body .columns td.small-10,.body .column td.small-10,td.small-10 center,.body .columns th.small-10,.body .column th.small-10,th.small-10 center{display:inline-block!important;width:83.33333%!important;}.body .columns td.small-11,.body .column td.small-11,td.small-11 center,.body .columns th.small-11,.body .column th.small-11,th.small-11 center{display:inline-block!important;width:91.66667%!important;}table.body td.small-offset-1,table.body th.small-offset-1{margin-left:8.33333%!important;Margin-left:8.33333%!important;}table.body td.small-offset-2,table.body th.small-offset-2{margin-left:16.66667%!important;Margin-left:16.66667%!important;}table.body td.small-offset-3,table.body th.small-offset-3{margin-left:25%!important;Margin-left:25%!important;}table.body td.small-offset-4,table.body th.small-offset-4{margin-left:33.33333%!important;Margin-left:33.33333%!important;}table.body td.small-offset-5,table.body th.small-offset-5{margin-left:41.66667%!important;Margin-left:41.66667%!important;}table.body td.small-offset-6,table.body th.small-offset-6{margin-left:50%!important;Margin-left:50%!important;}table.body td.small-offset-7,table.body th.small-offset-7{margin-left:58.33333%!important;Margin-left:58.33333%!important;}table.body td.small-offset-8,table.body th.small-offset-8{margin-left:66.66667%!important;Margin-left:66.66667%!important;}table.body td.small-offset-9,table.body th.small-offset-9{margin-left:75%!important;Margin-left:75%!important;}table.body td.small-offset-10,table.body th.small-offset-10{margin-left:83.33333%!important;Margin-left:83.33333%!important;}table.body td.small-offset-11,table.body th.small-offset-11{margin-left:91.66667%!important;Margin-left:91.66667%!important;}table.body table.columns td.expander,table.body table.columns th.expander{display:none!important;}table.body .right-text-pad,table.body .text-pad-right{padding-left:10px!important;}table.body .left-text-pad,table.body .text-pad-left{padding-right:10px!important;}table.menu{width:100%!important;}table.menu td,table.menu th{width:auto!important;display:inline-block!important;}table.menu.vertical td,table.menu.vertical th,table.menu.small-vertical td,table.menu.small-vertical th{display:block!important;}table.button.expand{width:100%!important;}}</style>
		<style>.header{background:#8a8a8a;}.header p{color:#ffffff;margin:0;}.header .columns{padding-bottom:0;}.header .container{background:#8a8a8a;padding-top:16px;padding-bottom:16px;}.header .container td{padding-top:16px;padding-bottom:16px;}</style>
		</head>
		<body>

		<table class="body" data-made-with-foundation="">
		<tr>
		<td class="center" align="center" valign="top">
		<center data-parsed="">

		<table class="container text-center">
		<tbody>
		<tr>
		<td>
		<table class="row">
		<tbody>
		<tr>
		<th class="small-12 large-12 columns first last">
		<table>
		<tr>
		<th> <br>
		<p class="lead">###LLL:email_admin_text###</p>
		<table>



			<!-- ###master_email-admin-start-html### -->

			<!-- ###master_email-admin-end-html### -->
		</table>
		</td>
		<td class="expander"></td>
		</tr>
		</table>

		</th>
		</tr>
		</table>
		</th>
		</tr>
		</tbody>
		</table>
		</td>
		</tr>
		</tbody>
		</table>
		</center>
		</td>
		</tr>
		</table>
		</body>
		</html>

		<!-- ###master_email-admin-end-html### -->

		<!-- ###master_email-line-plain### -->
		###LLL:###fieldname###### ###value_###fieldname######
		<!-- ###master_email-line-plain### -->

		<!-- ###master_email-line-html### -->
		<tr>
			<td valign="top">###LLL:###fieldname###.placeholder###</td>
			<td>###value_###fieldname######</td>
		</tr>
		<!-- ###master_email-line-html### -->

		<!-- ###master_email-name### -->
		<tr>
			<td valign="top">Name:</td>
			<td>###value_nachname###, ###value_vorname###</td>
		</tr>
		<!-- ###master_email-name### -->

		<!-- ###master_email-callback### -->
		<tr>
			<td colspan="2">Rückruf erwünscht</td>
		</tr>
		<!-- ###master_email-callback### -->

		<!-- ###master_email-message### -->
		<tr>
			<td colspan="2">
				<h2>Nachricht</h2>
				<p>
					###value_message###
				</p>
			</td>
		</tr>
		<!-- ###master_email-message### -->

		<!-- ###master_email-tests### -->
		<tr>
			<td valign="top">Tests:</td>
			<td>
				<ul>
					<!-- ###IF_tests|0### -->
					<li>
						###value_tests|0###
					</li>
					<!-- ###IF_tests|0### -->
					<!-- ###IF_tests|1### -->
					<li>
						###value_tests|1###
					</li>
					<!-- ###IF_tests|1### -->
					<!-- ###IF_tests|2### -->
					<li>
						###value_tests|2###
					</li>
					<!-- ###IF_tests|2### -->
					<!-- ###IF_tests|3### -->
					<li>
						###value_tests|3###
					</li>
					<!-- ###IF_tests|3### -->
					<!-- ###IF_tests|4### -->
					<li>
						###value_tests|4###
					</li>
					<!-- ###IF_tests|4### -->
					<!-- ###IF_tests|5### -->
					<li>
						###value_tests|5###
					</li>
					<!-- ###IF_tests|5### -->

				</ul>
			</td>
		</tr>
		<!-- ###master_email-tests### -->
