<!-- ###TEMPLATE_FORM1### -->
<div class="contact-form">
    <div class="container">
        ###master_form-start_contact-form###
        ###master_section-start###

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                ###master_gender###
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                ###master_input_vorname###
                ###master_input_nachname###
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <label for="phone" class="control-label">###LLL:phone.label###</label>
                    <div class="col-xs-4 col-sm-3">
                        ###master_input_phoneprefix###
                    </div>
                    <div class="col-xs-7 col-sm-8 col-xs-offset-1">
                        ###master_input_phone###
                    </div>
                    <div class="col-xs-12">
                        ###master_input_email###
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                ###master_textarea_message###
                ###master_requirednote###
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                ###master_submit###
            </div>
        </div>

        <input type="hidden" name="###formValuesPrefix###[formtime]" value="###TIMESTAMP###"/>
        ###master_section-end###
        ###master_form-end_contact-form###
    </div>
</div>
<!-- ###TEMPLATE_FORM1### -->
