
@font-face {
  font-family: 'MyriadWebPro-Bold';
  src: url('MyriadWebPro-Bold.eot?#iefix') format('embedded-opentype'),  url('MyriadWebPro-Bold.woff') format('woff'), url('MyriadWebPro-Bold.ttf')  format('truetype'), url('MyriadWebPro-Bold.svg#MyriadWebPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
