@mixin background-gradient($color1, $color2) {
  background: $color1;
  background-image: -webkit-linear-gradient(top, $color1, $color2);
  background-image: -moz-linear-gradient(top, $color1, $color2);
  background-image: -ms-linear-gradient(top, $color1, $color2);
  background-image: -o-linear-gradient(top, $color1, $color2);
  background-image: linear-gradient(to bottom, $color1, $color2);
}

@mixin box-shadow ($props, $color) {
  -webkit-box-shadow: $props $color;
  -moz-box-shadow: $props $color;
  box-shadow: $props $color;
}

@mixin border-radius ($tl, $tr, $br, $bl) {
  -webkit-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin box-sizing ($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin rotate ($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin scale ($width, $height) {
  -webkit-transform: scale($width, $height);
  -moz-transform: scale($width, $height);
  -ms-transform: scale($width, $height);
  -o-transform: scale($width, $height);
  transform: scale($width, $height);
}

@mixin transition ($delay) {
  -webkit-transition: all $delay ease;
  -moz-transition: all $delay ease;
  -o-transition: all $delay ease;
  transition: all $delay ease;
}

@mixin displayFlex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexDirection($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}