/* CONTROLS */
.tx-headerslider {
  .headerslider-button {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 5%;
	@include box-sizing(border-box);
	text-align: center;
	cursor: pointer;
	z-index: 100;
	display: none;

	&.next-slide {
	  bottom: 0;
	}

	&.prev-slide {
	  margin-top: 60px;
	  top: 0;
	}

	img {
	  height: auto;
	  width: 40px;
	}

	p.hint {
	  color: $white;
	  font-family: 'MyriadPro-Light';
	}
  }
}

@media only screen and (orientation: landscape) {
  .tx-headerslider {
	.headerslider-button {
	  padding: 2%;
	}
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .tx-headerslider {
	.headerslider-button {
	  padding: 2%;
	}
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .tx-headerslider {
	.headerslider-button {
	  img {
		width: 80px;
	  }
	}
  }
}


/* only landscape */

/* iPhone Start*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

	body {
		.tx-headerslider {
			.headerslider-element {
				.text {
					padding: 12% 10%;
				}
			}
		}
	}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
	
	body {
		.tx-headerslider {
			.headerslider-element {
				.text {
					padding: 12% 10%;
				}
			}
		}
	}

}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
	
	body {
		.tx-headerslider {
			.headerslider-element {
				.text {
					padding: 12% 10%;
				}
			}
		}
	}

}


/* iPhone End */

/* Galaxy Start */

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
	body {
		.tx-headerslider {
			.headerslider-element {
				.text {
					padding: 12% 10%;
				}
			}
		}
	}
}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
	body {
		.tx-headerslider {
			.headerslider-element {
				.text {
					padding: 12% 10%;
				}
			}
		}
	}
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
	body {
		.tx-headerslider {
			.headerslider-element {
				.text {
					padding: 12% 10%;
				}
			}
		}
	}
}

/* Galaxy End */

/* HTC Start */

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
	body {
		.tx-headerslider {
			.headerslider-element {
				.text {
					padding: 12% 10%;
				}
			}
		}
	}
}

/* HTC End */