/* SLIDE ELEMENTS */
.tx-headerslider {
  .headerslider-element {
	position: absolute;
	bottom: -100%;
	width: 100%;
	height: 100%;
	@include transition(800ms);

	&.lightheme {
	  color: $white;
	  border-color: $white;
	}

	&.darktheme {
	  color: $black;
	  border-color: $black;
	}

	&:first-of-type, &.active {
	  bottom: 0;
	}

	/* first element provides the needed height of the wrapping container - otherwise it's height would be 0 */
	&:first-of-type {
	  position: relative;
	  bottom: 0;
	}

	.text {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  @include displayFlex();
	  flex-direction: column;
	  justify-content: flex-start;
	  text-align: center;
	  padding: 60% 10%;
	  @include box-sizing(border-box);

	  p {
        font-family: $times;
		font-size: 20px;
	  }

	  /* CTA */
	  a.headerButton, a.videoLightbox {
		margin: 20px auto 0 auto;
	  }

	  h1, h2, h3, h4, h5, h6, p.headline {
        font-family: $times;
		font-size: 28px;
		margin: 0 auto;
		display: table;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-top: 0px;
		border-bottom: 1px;
		border-right: 0px;
		border-left: 0px;
		border-style: solid;
	  }

	  b {
		font-size: 16px;
		font-family: $times;
	  }
	}

	.image {
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;

	  img {
		width: 100%;
		max-width: 100%;
	  }
	}
  }
}


@media only screen and (min-width: $screen-sm-min) {
  .tx-headerslider {
	.headerslider-element {
	  .text {
	  	padding: 20vh 10vw;

		p {
		  font-size: 24px;
		}

		h1, h2, h3, h4, h5, h6, p.headline {
		  font-size: 40px;
		}

		hr {
		  width: 30%;
		}

		b {
		  font-size: 24px;
		}

		a.headerButton, a.videoLightbox {
		  margin-top: 40px;
		}
	  }
	}
  }
}


@media only screen and (min-width: $screen-md-min) {
  .tx-headerslider {
	.headerslider-element {
		.text {
			padding: 10% 10%;
		}

	  .image {
		img {
		  position: relative;
		  width: auto;
		  max-width: none;
		  height: 100%;
		  left: 50%;
		  transform: translateX(-50%);
		}
	  }
	}
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .tx-headerslider {
	.headerslider-element {
	  .text {
	  	padding: 8% 10%;

		p {
		  font-size: 28px;
		  margin-top: -10px;
		}

		h1, h2, h3, h4, h5, h6, p.headline {
			font-size: 60px;
		}

		hr {
		  width: 30%;
		}

		b {
		  font-size: 34px;
		}
	  }

	  .image {
		img {
		  position: relative;
		  width: 100%;
		  max-width: 100%;
		  height: auto;
		  left: 0;
		  transform: translateX(0);
		}
	  }
	}
  }
}

@media only screen and (max-width: $screen-xs-max) {
	.tx-headerslider {
		.headerslider-element {
			h1, h2, h3, h4, h5, h6 {
				font-size: 24px !important;
				margin-bottom: 35px !important;
			}

			p {
				font-size: 18px !important;
			}

			.text {
				padding: 20% 10%;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.tx-headerslider {
		height: auto;

		.headerslider-element {
			.text {
				padding: 20% 10%;
			}
		}
	}
}