.tx-headerslider {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100vh;
}

@media only screen and (min-width: $screen-lg-min) {
  .tx-headerslider {
    width: 100%;
    height:auto;
  }
}