.tx-headerslider {
  .headerslider-roadmap {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	height: 100%;
	padding: 2% 4%;
	@include box-sizing(border-box);
	@include displayFlex();
	flex-direction: column;
	justify-content: center;

	.headerslider-roadmap-wrap {
	  @include displayFlex();
	  flex-direction: column;
	  justify-content: center;
	  height: 80%;

	  .milestone {
		width: 10px;
		height: 10px;
		background-color: $lightOrangeGrey;
		@include border-radius(20px, 20px, 20px, 20px);
		@include transition(400ms);
	  }

	  .spacer {
		width: 2px;
		height: 5%;
		background-color: $lightOrangeGrey;
		margin: 5px auto;
		@include transition(400ms);
		@include box-sizing(border-box);
	  }

	  .milestone.active, .spacer.active {
		background-color: $orange;
	  }
	}
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .tx-headerslider {
	.headerslider-roadmap {
	  padding: 2%;

	  .headerslider-roadmap-wrap {
		.milestone {
		  width: 15px;
		  height: 15px;
		}
	  }
	}
  }
}