
<f:layout name="Default" />

<f:section name="main">

<f:for each="{slides}" as="slide" iteration="iterator">

	<f:switch expression="{slide.colortheme}">
		<f:case value="0">
			<div class="headerslider-element darktheme" data-uid="{iterator.index}">
		</f:case>
		<f:case value="1">
			<div class="headerslider-element lightheme" data-uid="{iterator.index}">
		</f:case>
	</f:switch>

		<div class="image">
			<picture>
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="fileadmin{slide.imageDesktop.originalResource.originalFile.identifier}" media="(min-width: 992px)">
				<source srcset="fileadmin{slide.imageMobileLandscape.originalResource.originalFile.identifier}" media="(min-width: 960px)">
				<source srcset="fileadmin{slide.imageMobile.originalResource.originalFile.identifier}" media="(min-width: 768px)">
				<source srcset="fileadmin{slide.imageMobileLandscape.originalResource.originalFile.identifier}" media="(min-width: 568px)">
				<!--[if IE 9]></video><![endif]-->
				<img alt="{slide.headline}" srcset="fileadmin{slide.imageMobile.originalResource.originalFile.identifier}" src="fileadmin{slide.imageMobile.originalResource.originalFile.identifier}">
			</picture>
		</div>

		<div class="text">
			<div class="headline-wrap">
				<f:switch expression="{slide.headlinelayout}">
					<f:case value="0">
						<p class="headline"><f:format.html parseFuncTSPath="lib.parseFunc">{slide.headline}</f:format.html></p>
					</f:case>
					<f:case value="1">
						<h1><f:format.html parseFuncTSPath="lib.parseFunc">{slide.headline}</f:format.html></h1>
					</f:case>
					<f:case value="2">
						<h2><f:format.html parseFuncTSPath="lib.parseFunc">{slide.headline}</f:format.html></h2>
					</f:case>
					<f:case value="3">
						<h3><f:format.html parseFuncTSPath="lib.parseFunc">{slide.headline}</f:format.html></h3>
					</f:case>
					<f:case value="4">
						<h4><f:format.html parseFuncTSPath="lib.parseFunc">{slide.headline}</f:format.html></h4>
					</f:case>
					<f:case value="5">
						<h5><f:format.html parseFuncTSPath="lib.parseFunc">{slide.headline}</f:format.html></h5>
					</f:case>
					<f:case value="6">
						<h6><f:format.html parseFuncTSPath="lib.parseFunc">{slide.headline}</f:format.html></h6>
					</f:case>
				</f:switch>
			</div>
			<p>
				<f:format.html parseFuncTSPath="lib.parseFunc">{slide.bodytext}</f:format.html>

				<f:if condition="{slide.videourl}">
					<a href="{slide.videourl}" class="videoLightbox">
						<f:if condition="{slide.videotext}">
							<f:then>
								<f:format.html parseFuncTSPath="lib.parseFunc">{slide.videotext}</f:format.html>
							</f:then>
							<f:else>
								<f:format.html parseFuncTSPath="lib.parseFunc"><f:translate key="LLL:typo3conf/ext/headerslider/Resources/Private/Language/locallang.xlf:tx_headerslider_domain_model_slide.videotext" /></f:format.html>
							</f:else>
						</f:if>
					</a>
				</f:if>
			</p>
		</div>
	</div>

</f:for>

</f:section>