.col_2-2-bigPic {
    padding:0px;
    overflow: hidden;
    height: 100%;
    border-left: solid 5px #fff;
}
.col_2-3-smalPic {
    border-left: solid 5px #fff;
    padding:0px;
    overflow: hidden;
    height: 50%;
}

.col_2-2-wrap {

    img {

        -webkit-transition: width 2s; /* Safari */
        transition: width 2s;
        width: 100%;
        height: auto;
        display: block;

    }

    img:hover {

        width: 120%;
        height: auto;

    }
border-bottom: solid 5px #fff;
border-right: solid 5px #fff;
p {

    color: #fff;
    position: absolute;
    top: 1%;
    left: 2%;
}
max-width: 100%;
height: 500px;
}

.col_3-2-wrap {
    p {
    
        color: #fff;
        position: absolute;
        top: 1%;
        left: 2%;
    }
    max-width: 100%;
    height: 500px;
    .col_3-2-bigPic {
        border: solid 5px #fff;
        border-top: 0px;
        padding:0px;
        overflow: hidden;
        height: 100%;
    }
    .underSmalPic {
        border-top: solid 5px #fff;
    }

    .col_3-2-smalPic {

        border-right: solid 5px #fff;
        padding:0px;
        overflow: hidden;
        height: 50%;
    }
    .col_3-2-smalPic-wrap{
        padding:0px;
        border-bottom: solid 5px #fff;
        height: 100%;
    }
    .col_3-2 {





    		img {

                -webkit-transition: width 2s; /* Safari */
                transition: width 2s;
    			width: 100%;
    			height: auto;
    			display: block;

    		}

            img:hover {

    			width: 120%;
    			height: auto;

    		}



    }
}
@media only screen and (min-width: $screen-xs-min) {
    .col_3-2-wrap {
        .col_3-2 {

        }
    }
}
@media only screen and (max-width: $screen-xs-max) {
    .col_3-2-wrap {
        .col_3-2 {

        }
    }
}
