.content {
    .contact-form {
        width: 100%;
        max-width: 970px;
        margin: auto;
        padding: 0 15px;

        .container {
            width: 100%;
            max-width: 1170px;
        }

        .control-label {
            display: block;
            text-align: left;
            margin-bottom: 10px;

            &.phoneprefix,
            &.nachname,
            &.phone {
                display: none;
            }

            &.nachname {
                min-height: 26px;
            }
        }

        .form-control {
            height: 50px;
            @include border-radius(0,0,0,0);

            &.select {
                background-image: url('/typo3conf/ext/system/Resources/Public/Images/dropdown_arrow.svg');
                background-repeat: no-repeat;
                background-position: center right 15px;

                @include appearance(none);
            }

            &.textarea {
                height: auto;
            }
        }

        .required-note {
            margin-left: -15px;
            color: #9f9f9f;
            font-style: italic;
        }

        input.submit {
            display: block;
            width: 100%;
            max-width: 315px;
            margin: 25px auto 0;
            border: 1px solid #000000;
            background-color: transparent;
            font-size: 22px;
            letter-spacing: 3px;

            @include appearance(none);
        }
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .content {
        .contact-form {
            padding: 0;

            .control-label {
                &.nachname {
                    display: block;
                }
            }
        }
    }
}