.content {
    .contact-addresses {
        color: #717171;
        margin-top: 25px;

        .mail {
            color: #717171;
        }

        p, b {
            font-size: 14px;
        }

        p {
            margin-bottom: 25px;
        }
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .content {
        .contact-addresses {
            margin-top: 35px;

            p, b {
                font-size: 18px;
            }
        }
    }
}