.content.detail {
    margin: 0 auto;

    .csc-default {

        header,
        .ce-bodytext,
        .csc-textpic,
        .ce-media {
            margin-bottom: 50px;
        }

        .ce-bodytext {
            b, ul, li, p {
                font-size: 18px;
            }

            ul {
                padding-left: 17px;
            }
        }

        header {
            font-family: $times;
            @include displayFlex();
            @include flexDirection(column);
            @include alignItems(center);

            * {
                display: inline-block;

                &:first-child {
                    position: relative;
                    padding-bottom: 20px;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $black;
                    }
                }

                &:last-child {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 18px;
                }
            }
        }

        .ce-media {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .content.detail {
        .csc-default {
            header {
                * {
                    &:last-child {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}