.section-content.error404 {
  max-width: none;
  background-image: url(../Images/404/background_404_mobile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid;
    padding-bottom: 15px;
    display: table;
    margin: 25px auto;
  }

  a {
    color: $black;
    font-family: $myriadproBold;
    font-size: 18px;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .section-content.error404 {
    background-image: url(../Images/404/background_404_desktop.jpg);

    h1, h2, h3, h4, h5, h6 {
      font-size: 36px;
    }

    p {
      font-size: 20px;
    }

    a {
      font-size: 24px;
    }
  }
}

@media only screen and (min-width: $screen-sm-min) and (orientation: portrait) {
  .section-content.error404 {
    height: 410px;
  }
}

@media only screen and (min-width: $screen-sm-min) and (orientation: landscape) {
  .section-content.error404 {
    height: 545px;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .section-content.error404 {
    h1, h2, h3, h4, h5, h6 {
      font-size: 42px;
    }

    p {
      font-size: 28px;
    }

    a {
      font-size: 34px;
    }
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .section-content.error404 {
    height: 100vh;
  }
}