.fish-background {
    background-color: #000000;
}

.gridelements-slickslider-features-fish {
    color: #fff !important;

    .fish {
        img {
            width: auto;
            height: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-height: none;
	      }
    }

}

@media only screen and (min-width: $screen-lg-min) {
    .fish-background {
        min-height: 790px;
    }

    .tx_gridelements_features {
        .gridelements-slickslider-features-fish {

            .slick-item:nth-child(2) {
                .ce-media {
                    img {
                        padding-top: 80px;
                    }
                }
            }

            .slick-item {
                height: auto;
            }

            .slick-item:nth-child(3) {
                .ce-media {
                    img {
                        padding-top: 80px;
                    }
                }
            }

            .slick-item:nth-child(4) {
                .ce-media {
                    img {
                        padding-top: 60px;
                    }
                }
            }

            .slick-item:nth-child(5) {
                .ce-media {
                    img {
                        padding-top: 30px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screen-md-max) {
    .tx_gridelements_features {
        .gridelements-slickslider-features-fish {

            .slick-item:nth-child(2) {
                .ce-media {
                    img {
                        padding-top: 80px;
                    }
                }
            }

            .slick-item {
                height: auto;
            }

            .slick-item:nth-child(3) {
                .ce-media {
                    img {
                        padding-top: 80px;
                    }
                }
            }

            .slick-item:nth-child(4) {
                .ce-media {
                    img {
                        padding-top: 60px;
                        width: 180px;
                    }
                }
            }

            .slick-item:nth-child(5) {
                .ce-media {
                    img {
                        padding-top: 30px;
                        width: 220px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screen-sm-max) {
    .tx_gridelements_features {
        .gridelements-slickslider-features-fish {

           .slick-item:nth-child(2) {
                .ce-media {
                    img {
                        padding-top: 0px;
                    }
                }
            }

            .slick-item {
                min-height: 400px;
                height: auto;
            }

            .slick-item:nth-child(3) {
                .ce-media {
                    img {
                        padding-top: 0px;
                    }
                }
            }

            .slick-item:nth-child(4) {
                margin-top: -50px;

                .ce-media {
                    img {
                        padding-top: 0px;
                    }
                }
            }

            .slick-item:nth-child(5) {
                margin-top: -50px;

                .ce-media {
                    img {
                        padding-top: 0px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $screen-xs-max) {

    .tx_gridelements_features {
        .gridelements-slickslider-features-fish {
            .slick-item {
                min-height: 470px;
                height: auto;
            }

            h5 {
                margin-bottom: 35px;
            }
                
            .slick-item:nth-child(2) {
                .ce-media {
                    img {
                        padding-top: 25px;
                    }
                }
            }

            .slick-item:nth-child(3) {
                .ce-media {
                    img {
                        width: 120px;
                        margin-top: 100px;
                        padding-top: 10px;
                    }
                }
            }

            .slick-item:nth-child(4) {
                margin-top: 0px;

                .ce-media {
                    img {
                        width: 130px;
                        padding-top: 30px;
                        margin-top: 0px;
                    }
                }
            }

            .slick-item:nth-child(5) {
                margin-top: 0px;

                .ce-media {
                    img {
                        width: 140px;
                        padding-top: 20px;
                        margin-top: 0px;
                    }
                }
            }

            .strich {
                margin-top: -15px;
            }

            .fish {
                .image {
                    img {
                        display: none;
                    }
                }
            }
        }
    }

}