.tx_gridelements_features {
    padding-bottom: 40px;

    .strich {
		display: inline-block;
		margin-bottom: 10px;
		border-bottom: 1px solid;
		width: 100%;
		margin-top: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 100px;

		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 0px !important;
		}
    }

	.gridelements-slickslider-features {
		color: #000000;

		.image {
			min-height: 70px;
			margin-top: 25px;
			@include displayFlex();
			@include flexDirection(column);
			@include justifyContent(center);
		}

		.text {
			text-align: center;

		  	p {
			  min-height: 150px;
			}
		}

		.strich {
			margin-bottom: 20px;
			margin-top: 20px;
		}

		img {
			width: auto;
			height: auto;
			max-width: 125px;
			max-height: 70px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		h1, h2, h3 {
			margin-bottom: 0;
			margin-top: 0;
			font-size: 21px;
			text-transform: uppercase;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media only screen and (min-width: $screen-xs-min) {
  .tx_gridelements_features {
	.gridelements-slickslider-features {
	  .strich {
		& + p {
		  min-height: 100px;
		}
	  }
	}
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .tx_gridelements_features {
  	padding-top: 0px;
  	padding-bottom: 20px;

	.gridelements-slickslider-features {
		.slick-item {
			min-height: 400px;
		}

	  .strich {
		& + p {
		  min-height: 100px;
		}
	  }

	  h3 {
	  	font-size: 18px;
	  }
	}
  }
}

@media only screen and (min-width: $screen-sm-min) {
    .tx_gridelements_features {

        .gridelements-slickslider-features {

            img {
                max-width: none;
            }
        }
    }
}

@media only screen and (min-width: $screen-md-min) {
	.tx_gridelements_features {
		.gridelements-slickslider-features {
			h1,h2,h3,h4,h5,h6 {
				margin-bottom: 60px;
			}
		}
	}
}