.news_one {
	padding-top: 20px;
	padding-bottom: 60px;

	img {
		width: 100%;
		height: auto;
	}

	.ce-gallery {
		display: inline-block;
	}

	.ce-textpic {
		position: relative;



		.ce-bodytext {

			hr {
				float: left;
				width: 100%;
			}

			p {
				font-size: 14px;
				float: left;
			}
		}
	}
}


@media only screen and (min-width: $screen-md-min) {
	.news_one {
		.ce-bodytext {
			position: absolute;
			bottom: 0;
			display: inline-block;
			width: 40%;
			text-align: left;
			padding-bottom: 120px;
		}
		.ce-gallery {
			width: 55%;
		}
	}
}

@media only screen and (min-width: $screen-lg-min) {
	.news_one {
		.ce-bodytext {
			position: absolute;
			bottom: 0;
			display: inline-block;
			width: 40%;
			text-align: left;
			padding-bottom: 120px;
		}
		.ce-gallery {
			width: 55%;
		}
	}
}

@media only screen and (min-width: $screen-sm-min) {
	.news_one {
		.ce-bodytext {
			position: absolute;
			bottom: 0;
			display: inline-block;
			width: 40%;
			text-align: left;
			padding-bottom: 120px;
		}
		.ce-gallery {
			width: 55%;
		}
	}
}


@media only screen and (max-width: $screen-xs-max) {
	.news_one {
		.ce-bodytext {
			position: relative;
			width: 75vw;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.ce-gallery {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}

		.ce-media {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}


@-moz-document url-prefix() {
 	.news_one {
 		.slick-dots {
 			li {
				&:first-child {
					button:before {
						margin-top: 0px;
					}
				}
 			}
 		}
 	}
}