.standorte {
	color: #ffffff;
	background: transparent;
    background-size: cover;
	padding-bottom: 40px;
    padding-top: 40px;

	h1, h2, h4, h5, h6 {
		font-size: 28px;
		text-transform: uppercase;
		border-bottom: 1px;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-style: solid;
		display: table;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 8px;
		margin-bottom: 10px;
	}

	h3:before {
		display: inline-block;
		margin-right: 8px;
		background-image: url(../Images/typo_icon.png);
		background-repeat: no-repeat;
		background-size: 50px 50px;
		width: 50px;
		height: 42px;
		content: "";
	}

	h3 {
		text-transform: uppercase;
	}

	h5:before {
		display: none;
	}

}

@media (min-width: $screen-lg-min) {

	body {
		.section-content {
			.parallax-window-standort {
				min-height: 800px;

			}
		}
	}

	.standorte {
		min-height: 800px;
		background-image: url(../Images/standort.jpg);
		background-position: 35% 50%;
	}

	.standorte {

		.container {
			padding-top: 0px;
		}

		.text-bottom {
			margin-top: 280px;
		}

		.text-top {
			margin-top: 110px;
		}
	}
}


@media (max-width: $screen-lg-max) {	
	.standorte {
		color: #ffffff;
		padding-bottom: 40px;

		h5 {
			font-size: 18px;
		}
	}
}


@media (min-width: $screen-md-min) {
	
	.section-content {
		.parallax-window-standort {
			min-height: 640px;
		}
	}

	.standorte {
		min-height: 640px;
		padding-top: 100px !important;
		background-image: url(../Images/standort.jpg);
		background-position: 35% 50%;

		.container {
			padding-top: 0px;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.parallax-window-standort {
		min-height: 540px;
	}

	.standorte {
		background-image: url(../Images/standort.jpg);
		background-position: 35% 50%;
		min-height: 540px;
		padding-top: 0px;

		.text-headline {
			h1,h2,h3,h4,h5,h6 {
				margin-top: 20px;
				margin-bottom: 30px;
			}
		}
	
		.karte {
			img {
				width: 90%;
				height: auto;
				display: block;
				margin-left: auto;
				margin-right: auto
			}
		}
	}
}

@media only screen and (max-width: $screen-sm-max) {
	.standorte {
		color: #ffffff;
		padding-bottom: 0px;
		padding-top: 0px;

		.container {
			padding-top: 20px;
		}
	}

}

@media only screen and (max-width: $screen-xs-max) {
	.parallax-window-standort {
		min-height: 100px;
		background: transparent;
	}

	.standorte {
		padding-top: 0px;
		padding-bottom: 30px;
		background-image: url(../Images/standort_mobil.jpg);

		.container {
			padding-top: 0px;
		}

		.karte {
			img {
				width: 90%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}

		.text-headline {
			h1,h2,h3,h4,h5,h6 {
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}

		h3:before {
			display: inline-block;
			margin-right: 0px;
			background-image: url(../Images/typo_icon.png);
			background-repeat: no-repeat;
			background-size: 30px 30px;
			width: 35px;
			height: 25px;
			content: "";
		}
	}
}