.news-gallery {
    margin-bottom: -2px;

	.abstaende-rahmen {
    	padding-left: 0px;
    	padding-right: 0px;
	}

	.ce-media {
		width: 50vw;
		height: 50vw;
		overflow: hidden;
		border: 2px solid #fff;
	}

	/*Style für die Texte*/

	.ce-bodytext {
		position: absolute;
		top: 0;
		height: 50vw;
		width: 50vw;
		visibility: hidden;
		opacity: 0;
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
		padding: 10% 10%;
		overflow: hidden;
		border: 2px solid #fff;

		h1, h2, h3, h4, h5 {
			color: #ff8203;
		}

		p {
			color: #ffffff;
		}

		a {
			color: #ffffff;
			border: 1px solid #ffffff;
			padding-top: 5px;
			padding-right: 8px;
			padding-bottom: 8px;
			padding-left: 8px;
			font-family: monospace;
			text-decoration: none;
		}
	}
    
	/*Element auf der linken Seite*/

	.oben-links {
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			display: block;
			-moz-transition: all 0.4s;
			-webkit-transition: all 0.4s;
			transition: all 0.4s;
		}
	}

	.oben-links:hover {
		.ce-bodytext {
			visibility: visible;
			opacity: 1;
			background-color: rgba(0, 0, 0, 0.6);
			background: rgba(0, 0, 0, 0.6);
			color: rgba(0, 0, 0, 0.6);
			width: 50vw;
			height: 50vw;
		}

		.image-only {
			.ce-bodytext {
				background-color: rgba(0, 0, 0, 0.0);
				background: rgba(0, 0, 0, 0.0);
				color: rgba(0, 0, 0, 0.0);
			}
		}

		.ce-gallery {
			img {
				-moz-transform: scale(1.3);
				-webkit-transform: scale(1.3);
				transform: scale(1.3);
			}
		}
	}

	/*Erstes Element auf der rechten Seite*/

	.oben-rechts-oben {
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			display: block;
			-moz-transition: all 0.4s;
			-webkit-transition: all 0.4s;
			transition: all 0.4s;
		}
	}

	.oben-rechts-oben:hover {
		.ce-bodytext {
			visibility: visible;
			opacity: 1;
			background-color: rgba(0, 0, 0, 0.6);
			background: rgba(0, 0, 0, 0.6);
			color: rgba(0, 0, 0, 0.6);
		}

		.image-only {
			.ce-bodytext {
				background-color: rgba(0, 0, 0, 0.0);
				background: rgba(0, 0, 0, 0.0);
				color: rgba(0, 0, 0, 0.0);
			}
		}

		.ce-gallery {
			img {
				-moz-transform: scale(1.3);
				-webkit-transform: scale(1.3);
				transform: scale(1.3);
			}
		}
	}
	
}

@media only screen and (max-width: $screen-xs-max){
	.news-gallery:first-child {
		padding-top: 50px;
	}

	.news-gallery {
		.container-fluid {

			.ce-media {
				width: auto;
				height: auto;
			}

			.ce-bodytext {
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
}