.mfp-bg {
    background: $white;
}

.mfp-container {
    .mfp-arrow {
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: center;

        &:before,
        &:after {
            border: 0;
        }
    }

    .mfp-arrow-left {
        background-image: url('/typo3conf/ext/system/Resources/Public/Images/pop_arrow_left.gif');
    }

    .mfp-arrow-right {
        background-image: url('/typo3conf/ext/system/Resources/Public/Images/pop_arrow_right.gif');
    }

    .mfp-content {
        width: 70%;

        .mfp-img {
            width: 100%;
        }

        .mfp-close {
            color: $black;
        }
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .mfp-container {
        .mfp-content {
            width: 85%;
        }
    }
}

@media only screen and (min-width: $screen-lg-min) {
    .mfp-container {
        .mfp-content {
            width: 90%;
        }
    }
}