$videoWidth: 300px;
$videoHeight: 168px;

.video-wrap {
  text-align: center;
  overflow: hidden;
  position: relative;

  div:nth-of-type(2) {
	max-width: 1200px;
	margin: auto;
  }

  h1, h2, h3, h4, h5, h6 {
	color: $orange;
  }

  p {
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 30px;
  }

  div.videoButton {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -87px;
	width: 175px;
	margin-top: 60px;
	max-width: none;
	cursor: pointer;
	padding: 15px;

	p {
	  margin: 0;
	}
  }

  iframe {
	@include transition(400ms);
  }
}

@media screen and (orientation: landscape) {
  .video-wrap {
	div.videoButton {
	  margin-top: 52px;
	  top: 48%;
	}
  }
}


@media screen and (min-width: $screen-sm-min) {
  .video-wrap {
	div.videoButton {
	  margin-left: -125px;
	  width: 250px;
	  margin-top: 42px;
	  max-width: 250px;
	  padding: 20px 0 15px 0;
	  top: 50%;

	  p {
		font-size: 28px;
	  }
	}
  }
}